.mobileShow {display: none !important;}
.mobileShowInline {display: none !important;}
.tabletShow {display: none !important;}
.tabletShowInline {display: none !important;}

.mainColorText{color: #F9001C !important;}
.mainColorBg{background-color: #F9001C !important;}
.mainColorBd{border-color: #F9001C !important;}

.scrollLock {overflow: hidden !important;}
#header{position: fixed;top: 0;left: 0;width: 100%;height: 100px;box-sizing: border-box;z-index: 99;transition: all 0.8s;}
#header .inner{display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;width: 100%;height: 100%;padding: 0 100px;margin: 0 auto;box-sizing: border-box;}
#header .logo a{position: relative;display: block;}
#header .logo a img{transition: all 0.5s;vertical-align: bottom;}
#header .logo a:after{content: " ";position: absolute;top: 0;left: 0;width: 253px;height: 60px;background-image: url(../images/layout/logo_color.png);background-size: 100% 100%;background-repeat: no-repeat;opacity: 0;transition: all 0.5s;}
#gnb {position: relative;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;}
#gnb > ul{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;width: 550px;height: 100px;align-items: center;}
#gnb > ul > li{position: relative;box-sizing: border-box;}
#gnb > ul > li > a{display: flex;justify-content: center;align-items: center;height: 100px;color: #FFF;font-size: 18px;font-weight: 700;line-height: normal;text-align: center;}
#gnb > ul > li.active > a{color: #F9001C !important;}
#gnb > ul > li > ul{display: none;position: absolute;top: 100px;left: -20px;width: auto;min-width: max-content;padding: 25px 30px;box-sizing: border-box;border-radius: 0 0 20px 20px;background: #FFF;box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);text-align: left;}
#gnb > ul > li > ul > li + li{margin-top: 16px;}
#gnb > ul > li > ul > li > a{color: #333;font-size: 16px;font-weight: 600;line-height: normal;letter-spacing: -0.4px;}
#gnb > ul > li > ul > li > a:hover{color: #F9001C !important;font-weight: 600;text-decoration: underline;}

.rightGroup{display: flex;flex-direction: row;align-items: center;justify-content: flex-start;gap: 20px;}
.langsGroup{position: relative;}
.langsGroup button{display: block;width: 26px;height: 26px;background-image: url(../images/layout/icon_langs_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;transition: all 0.5s;}
.langsGroup ul{display: none;position: absolute;top: 41px;left: 50%;width: 70px;margin-left: -35px;padding: 7px 0;background: #222;box-sizing: border-box;}
.langsGroup ul li{margin: 7px 0;text-align: center;}
.langsGroup ul li a{display: inline-block;color: rgba(255, 255, 255, 0.30);font-size: 15px;font-weight: 600;line-height: 150%;text-align: center;}
.langsGroup ul li a.active{color: #FFF;text-decoration: underline;}
.langsGroup.active ul{display: block;}
.btnSitemapOpen{position: relative;width: 30px;height: 22px;}
.btnSitemapOpen:before, .btnSitemapOpen:after{content: "";position: absolute;left: 0;width: 30px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;}
.btnSitemapOpen:before{top: 0px;}
.btnSitemapOpen:after{top: 20px;}
.btnSitemapOpen span{display: block;position: absolute;top: 10px;left: 0;width: 30px;height: 2px;background: #fff;transition: all 0.5s;will-change: transform;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.sitemapWrap{display: none;position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;background: rgba(255, 255, 255, 0.95);box-sizing: border-box;z-index: 101;}
.sitemapWrap.show{display: block;}
.sitemapHeader{position: relative;display: flex;align-items: center;justify-content: space-between;flex-direction: row;flex-wrap: nowrap;max-width: 100%;width: 100%;height: 100px;margin: 0 auto;padding: 0 100px;box-sizing: border-box;}
.sitemapHeader .logo a{display: block;}
.sitemapHeader .logo a img{vertical-align: bottom;}
.sitemapHeader .langsGroup{display: none;position: absolute;right: 70px;flex-direction: row;flex-wrap: wrap;align-items: center;gap: 10px;}
.sitemapHeader .langsGroup a{color: rgba(0, 0, 0, 0.50);font-size: 15px;font-weight: 600;line-height: normal;}
.sitemapHeader .langsGroup a.active{color: #000;text-decoration: underline;}
.btnSitemapClose{position: relative;width: 30px;height: 30px;}
.btnSitemapClose span{position: relative;top: -4px;left: -4px;display: inline-block;width: 40px;height: 3px;background: #000;transition: all 0.5s;will-change: transform;transform: rotate(45deg);overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.btnSitemapClose:after{content: "";position: absolute;right: -6px;top: 14px;transform: rotate(315deg);width: 40px;height: 3px;background: #000;transition: all 0.5s;will-change: transform;}

.sitemapBody{position: relative;width: 100%;max-width: 1600px;margin: 0 auto;height: calc(100% - 100px);display: flex;align-content: center;align-items: center;flex-direction: row;flex-wrap: wrap;}
.sitemapBody > ul{width: 100%;height: 100%;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: flex-start;justify-content: center;}
.sitemapBody > ul > li{position: relative;display: flex;flex-direction: column;flex-wrap: wrap;align-items: center;align-content: center;flex: 1 auto;height: 100%;margin-top: 10%;box-sizing: border-box;text-align: center;}
.sitemapBody > ul > li > a{position: relative;display: inline-block;margin-bottom: 30px;box-sizing: border-box;font-size: 40px;color: #222;font-weight: 600;line-height: normal;letter-spacing: -0.6px;font-family: 'Paperozi';}
.sitemapBody > ul > li > a:before{content: "";position: absolute;left: -30px;top: 0;width: 45px;height: 45px;background: #F9001C;border-radius: 100%;transition: .3s;-webkit-transition: .3s;z-index: -1;opacity: 0;}
.sitemapBody > ul > li > ul > li > a{position: relative;color: #000;font-size: 22px;font-weight: 400;line-height: 250%;transition: all 0.3s;letter-spacing: 0.2px;}
.sitemapBody > ul > li > ul > li > a:hover{color: #F9001C;font-weight: 500;}
.sitemapBody > ul > li.active > a:before{opacity: 1;}

#header.show{position: fixed;top: 0;background: #fff;box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.03);opacity: 1;z-index: 100;}
#header.show .logo a:after{opacity: 1;}
#header.show .logo a img{opacity: 0;}
#header.show #gnb > ul > li > a{color: #222;}
#header.show #gnb > ul > li > ul > li > a{color: #222;}
#header.show .langsGroup button{background-image: url(../images/layout/icon_langs_black.svg);}
#header.show .btnSitemapOpen:before, #header.show .btnSitemapOpen:after, #header.show .btnSitemapOpen span{background: #222;}

#footer{position: relative;padding: 72px 0;background-image: url(../images/layout/bg_footer.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;box-sizing: border-box;}
#footer .footerInner{display: flex;justify-content: flex-start;align-items: flex-start;flex-direction: row;flex-wrap: wrap;gap: 70px;width: 100%;max-width: 1560px;margin: 0 auto;padding: 0 50px;box-sizing: border-box;}
.footerLogo a{display: block;}
.footerLogo img{vertical-align: bottom;}
.footerAddress h1{color: #FFF;font-size: 28px;font-weight: 700;line-height: 100%;font-family: 'Paperozi';}
.footerAddress h1 span{font-size: 24px;font-weight: 500;letter-spacing: -2px;vertical-align: 4px;}
.footerAddress ul{margin-top: 15px;}
.footerAddress ul li strong{display: inline-block;color: #FFF;font-size: 16px;font-weight: 700;line-height: 150%;word-break: keep-all;}
.footerAddress ul li p{display: inline-block;color: #FFF;font-size: 16px;font-weight: 400;line-height: 150%;word-break: keep-all;}
.footerCopy{margin-top: 20px;color: #999;font-size: 13px;font-weight: 400;line-height: 100%;word-break: keep-all;}

#btnTop{opacity: 0;position: fixed;bottom: 40px;right: 6%;width: 70px;height: 70px;background-color: #F9001C;border-radius: 100%;box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);box-sizing: border-box;color: #FFF;font-size: 14px;font-weight: 700;line-height: normal;z-index: 99;transition: .5s;-webkit-transition: .5s;}
#btnTop.show{opacity: 1;}
#btnTop:before{content: " ";position: absolute;left: 0;top: 0;width: 70px;height: 70px;background-color: transparent;border-radius: 100%;z-index: 0;}
#btnTop:hover:before{animation: btnTopAni 1.8s infinite;-webkit-animation: btnTopAni 1.8s infinite;}

@media screen and (max-width: 1599px){

    #header .inner{padding: 0 40px;}
    .sitemapHeader{padding: 0 40px;}
    .sitemapBody > ul > li > a{font-size: 30px;}
    .sitemapBody > ul > li > a:before{left: -15px;width: 30px;height: 30px;}
    .sitemapBody > ul > li > ul > li > a{font-size: 20px;font-weight: 500;line-height: 200%;}
    #footer .footerInner{padding: 0 40px;}

}
@media screen and (max-width: 1199px){

    .tabletShow {display: block !important;}
	.tabletShowInline {display: inline-block !important;}
    .tabletHide{display: none !important;}

    #header{height: 80px;}
    #header .logo a:after{width: 210px;height: 50px;}
    #header .logo a img{width: 210px;height: 50px;}
    #gnb > ul{display: none;}
    .sitemapHeader{height: 80px;border-bottom: 1px solid #ddd;box-sizing: border-box;}
    .sitemapHeader .logo a img{width: 210px;height: 50px;}
    .sitemapBody{max-width: 100%;padding: 50px 40px;height: calc(100vh - 80px);overflow-y: auto;box-sizing: border-box;}
    .sitemapBody > ul{flex-wrap: wrap;align-content: flex-start;justify-content: flex-start}
    .sitemapBody > ul > li{align-items: flex-start;align-content: flex-start;flex: 100%;height: auto;margin-top: 0;text-align: left;}
    .sitemapBody > ul > li + li{margin-top: 20px;}
    .sitemapBody > ul > li > a{margin-bottom: 0;font-size: 32px;}
    .sitemapBody > ul > li > ul{display: none;width: 100%;padding: 10px 10px 0;box-sizing: border-box;}
    .sitemapBody > ul > li.active > a:before{opacity: 0;}
    .sitemapBody > ul > li.on > a:before{opacity: 1;}

    #footer{padding: 50px 0;}
    #footer .footerInner{gap: 20px 50px;}

}
@media screen and (max-width: 767px){

    .mobileShow {display: block !important;}
	.mobileShowInline {display: inline-block !important;}
    .mobileHide{display: none !important;}

    #header{height: 70px;}
    #header .inner{padding: 0 20px;}
    #header .logo a:after{width: 170px;height: 40px;}
    #header .logo a img{width: 170px;height: 40px;}
    .sitemapHeader .logo a img{width: 170px;height: 40px;}
    .langsGroup{display: none;}
    .sitemapHeader{height: 70px;padding: 0 20px;}
    .sitemapHeader .langsGroup{display: flex;}
    .sitemapBody{max-width: none;}
    .sitemapBody > ul > li > a{font-size: 25px;}
    .sitemapBody > ul > li > ul > li > a{font-size: 16px;}

    #footer .footerInner{padding: 0 20px;}
    .footerLogo img{width: 100px;height: 63px;}
    .footerAddress ul li strong{font-size: 14px;}
    .footerAddress ul li p{font-size: 14px;}
    #btnTop{right: 20px;width: 60px;height: 60px;}
    #btnTop:before{width: 60px;height: 60px;}
    
}

@-webkit-keyframes btnTopAni {
    from {-webkit-box-shadow: 0 0 0 0 #F9001C;box-shadow: 0 0 0 0 #F9001C;}
    to {-webkit-box-shadow: 0 0 0 20px rgba(37, 72, 227, 0);box-shadow: 0 0 0 20px rgba(37, 72, 227, 0);}
}
@keyframes btnTopAni {
    from {-webkit-box-shadow: 0 0 0 0 #F9001C;box-shadow: 0 0 0 0 #F9001C;}
    to {-webkit-box-shadow: 0 0 0 20px rgba(37, 72, 227, 0);box-shadow: 0 0 0 20px rgba(37, 72, 227, 0);}
}