#main{overflow: hidden;}

#fp-nav{right: 57px !important;}
#fp-nav ul{position: relative;}
#fp-nav ul:after{content: "";position: absolute;top: -22px;left: 3px;width: 1px;height: 180px;background: rgba(221, 221, 221, 0.2);}
#fp-nav ul li{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: nowrap;width: auto;height: 13px;margin: 0;}
#fp-nav ul li:last-child{display: none;}
#fp-nav ul li + li{margin-top: 50px;}
#fp-nav ul li a{width: 7px;height: 7px;}
#fp-nav ul li a span{left: 0;top: 0;height: 7px;width: 7px;background: #C2C2C3;margin: 0;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span{width: 7px;height: 7px;margin: 0;background: #F9001C;}
#fp-nav ul li a.active span:after{content: "";position: absolute;top: -6px;left: -6px;width: 19px;height: 19px;border: 1px solid #F9001C;border-radius: 100%;box-sizing: border-box;}
#fp-nav ul li:hover a span{width: 7px;height: 7px;margin: 0;}
#fp-nav ul li .fp-tooltip{position: relative;top: auto; left: auto !important;width: auto;margin-left: 12px;opacity: 1;font-size: 15px;color: #C2C2C3;font-weight: 700;}
#fp-nav ul li a.active + .fp-tooltip{color: #F9001C;}
/* #fp-nav.ver2 ul:after{background: #DFDFDF;}
#fp-nav.ver2 ul li .fp-tooltip{color: #ccc;}

#fp-nav.black ul li .fp-tooltip{color: #000;}
#fp-nav.black ul li a span, .fp-slidesNav.black ul li a span{background: #000;} */
/* #fp-nav ul li:last-child, .fp-slidesNav ul li:last-child{display: none;} */

.section{overflow: hidden;}
.visualWrap{position: relative;}
.visualSwiper{width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .swiper-wrapper{display: flex !important;}
.visualSwiper .swiper-slide{position: relative;height: 100%;}
.visualSwiper .visualBg{position: relative;width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .visualBg img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1.2);}
.visualSwiper .visualText{position: absolute;top: 50%;left: 50%;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;width: 100%;height: 100%;padding-bottom: 50px;box-sizing: border-box;text-align: center;z-index: 1;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}
.visualSwiper .visualText p{transform: translateY(1rem);-webkit-transform: translateY(1rem);-moz-transform: translateY(1rem);-ms-transform: translateY(1rem);-o-transform: translateY(1rem);opacity: 0;transition: 1.1s;-webkit-transition: 1.1s;-moz-transition: 1.1s;-ms-transition: 1.1s;-o-transition: 1.1s;transition-delay: 0.8s;color: #FFF;font-size: 50px;font-weight: 900;line-height: 130%;text-align: center;word-break: keep-all;}
.visualSwiper .visualText p.delay1{transition-delay: 1.0s;}
.visualSwiper .visualText p.delay2{transition-delay: 1.4s;}
.visualControl{position: absolute;top: 50%;left: 50%;width: 100%;max-width: 170px;height: 100%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);padding-top: 250px;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: center;gap: 10px;z-index: 99;}
.visualControl button{position: initial;top: initial;right: initial;left: initial;margin-top: initial;}
.visualControl .swiper-button-prev, .visualControl .swiper-button-next{width: 18px;height: 18px;background-image: url(../images/main/icon_left_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualControl .swiper-button-next{transform: rotate(180deg);}
.visualControl .swiper-button-autoplay{width: 18px;height: 18px;background-image: url(../images/main/icon_stop_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualControl .swiper-button-autoplay.on{background-image: url(../images/main/icon_start_white.svg);}
.visualControl .pagination{width: auto;color: #FFF;font-size: 18px;font-weight: 700;line-height: normal;letter-spacing: 0.2px;text-align: center;}
.visualControl .swiper-button-prev:after, .visualControl .swiper-button-next:after{display: none;}
.visualSwiper .swiper-slide-active .visualBg img{transform: scale(1);transition: transform 2.5s;}
.visualSwiper .swiper-slide:not(.swiper-slide-active) img{opacity: 0;}
.visualSwiper .swiper-slide-active .visualText p{opacity: 1;transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;}

#section2{position: relative;}
.servicesGroup{display: flex;justify-content: center;align-items: center;flex-direction: column;width: 100%;height: 100vh;padding: 100px 0 0;box-sizing: border-box;}
.servicesGroup .titleGroup{display: flex;flex-direction: column;align-items: center;justify-content: center;height: 25%;min-height: 170px;box-sizing: border-box;}
.servicesGroup .titleGroup strong{display: block;color: #000;font-size: 50px;font-weight: 800;line-height: 100%;letter-spacing: 1px;font-family: 'Paperozi';}
.servicesGroup .titleGroup strong:before{content: "";position: absolute;left: -33px;top: 0;display: block;width: 50px;height: 50px;background: #F9001C;border-radius: 100%;z-index: -1;}
.servicesGroup .titleGroup p{margin-top: 20px;color: #222;font-size: 24px;font-weight: 400;line-height: 140%;word-break: keep-all;}
.servicesGroup ul{display: flex;flex-direction: row;flex-wrap: wrap;align-content: flex-start;width: 100%;height: calc(100% - 25%);max-height: calc(100% - 170px);}
.servicesGroup ul li{width: 33.33%;height: 50%;overflow: hidden;}
.servicesGroup ul li a{display: flex;align-items: flex-start;flex-direction: column;justify-content: flex-end;width: 100%;height: 100%;padding: 30px 30px 65px 50px;padding: 1.5625vw 1.5625vw 3.3854vw 2.6042vw;box-sizing: border-box;background-position: center;background-size: cover;background-repeat: no-repeat;-webkit-transition: .5s;transition: .5s;}
.servicesGroup ul li a:after {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: inherit;background-size: cover;transform-origin: center;transition: transform .5s ease-in-out;z-index: 1;}
.servicesGroup ul li:nth-child(1) a{background-image: url(../images/main/bg_services01.jpg);}
.servicesGroup ul li:nth-child(2) a{background-image: url(../images/main/bg_services02.jpg);}
.servicesGroup ul li:nth-child(3) a{background-image: url(../images/main/bg_services03.jpg);}
.servicesGroup ul li:nth-child(4) a{background-image: url(../images/main/bg_services04.jpg);}
.servicesGroup ul li:nth-child(5) a{background-image: url(../images/main/bg_services05.jpg);}
.servicesGroup ul li:nth-child(6) a{background-image: url(../images/main/bg_services06.jpg);}
.servicesGroup ul li .num{color:  #F9001C;font-size: 30px;font-size: 1.5625vw;font-weight: 800;line-height: 130%;z-index: 2;}
.servicesGroup ul li .name{color: #FFF;font-size: 40px;font-size: 2.0833vw;font-weight: 800;line-height: 100%;word-break: keep-all;z-index: 2;}
.servicesGroup ul li .btnMore{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;gap: 10px;width: fit-content;margin-top: 25px;border-radius: 50px;color: #FFF;font-size: 16px;font-weight: 800;line-height: 140%;-webkit-transition: .5s;transition: .5s;z-index: 2;}
.servicesGroup ul li .btnMore i{position: relative;display: block;width: 16px;height: 16px;}
.servicesGroup ul li .btnMore i:before{content: "";display: block;position: absolute;top: 0;left: 50%;width: 2px;height: 100%;margin-left: -1px;background: #FFF;}
.servicesGroup ul li .btnMore i:after{content: "";display: block;position: absolute;top: 50%;left: 0;width: 100%;height: 2px;margin-top: -1px;background: #FFF;}
.servicesGroup ul li a:hover:after{transform: scale(1.1);}
.servicesGroup ul li a:hover .btnMore{margin-top: 35px;padding: 10px 20px;background: #F9001C;}

#section3{position: relative;}
.ceoGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: stretch;height: 100vh;}
.ceoGroup .imageArea{width: 50%;height: 100%;border-radius: 0 100px 0 0;overflow: hidden;}
.ceoGroup .imageArea img{width: 100%;height: 100%;display: block;object-fit: cover;}
.ceoGroup .textArea{width: 50%;height: 100%;padding-top: 170px;padding-left: 70px;background-image: url(../images/main/bg_earth.png);background-position: center bottom;background-repeat: no-repeat;box-sizing: border-box;}
.ceoGroup .textArea span{display: block;color: #FFF;font-size: 30px;font-weight: 400;line-height: 150%;}
.ceoGroup .textArea strong{display: block;color: #FFF;font-size: 50px;font-weight: 700;line-height: 150%;}
.ceoGroup .textArea p{margin-top: 30px;color: rgba(255, 255, 255, 0.90);font-size: 26px;font-weight: 400;line-height: 150%;}
.ceoGroup .textArea .btnViewmore{position: relative;display: inline-block;margin-top: 43px;padding: 0 25px;box-sizing: border-box;color: #FFF;font-size: 20px;font-weight: 400;line-height: normal;z-index: 1;}
.ceoGroup .textArea .btnViewmore i{position: absolute;left: 0;top: 50%;width: 50px;height: 50px;margin-top: -25px;background: rgba(255, 255, 255, 0.20);border-radius: 50px;z-index: -1;}
.ceoGroup .textArea .btnViewmore:hover i{background: rgba(255, 255, 255, 0.60);}

#section4{position: relative;background: #FFF;overflow: hidden;}
.aboutusGroup{display: flex;flex-direction: row;flex-wrap: wrap;height: calc(100% - 300px);padding-top: 300px;}
.aboutusGroup:before{content: "Contact Us";opacity: 0;position: absolute;left: 20px;top: 150px;color: #F7F7F7;font-size: 180px;font-weight: 700;line-height: 100%;z-index: 0;}
.aboutusGroup .contact{opacity: 0;position: relative;display: flex;flex-direction: column;flex-wrap: wrap;justify-content: flex-end;width: 25%;height: 100%;padding: 0 0 100px 50px;background-image: url(../images/main/bg_contactUs.jpg);background-size: cover;background-position: center;background-repeat: no-repeat;box-sizing: border-box;z-index: 2;}
.aboutusGroup .contact h3{color: #000;font-size: 50px;font-weight: 700;line-height: normal;}
.aboutusGroup .customer{opacity: 0;position: relative;width: 75%;height: 100%;padding: 0 70px 100px;border-radius: 0px 100px 0px 0px;background: #F7F7F7;box-sizing: border-box;overflow: hidden;display: flex;flex-direction: column;justify-content: flex-end;align-items: stretch;}
.aboutusGroup .customer h3{color: #000;font-size: 50px;font-weight: 700;line-height: normal;}
.aboutusGroup .customer ul{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 20px;max-width: 1060px;width: 100%;margin-top: 50px;}
.aboutusGroup .customer ul li{width: calc(25% - 15px);}
.aboutusGroup .customer ul li a{display: block;background: #fff;}
.aboutusGroup .customer ul li a img{vertical-align: middle;}
.aboutusGroup .btnViewmore{position: relative;display: block;width: 180px;margin-top: 50px;padding: 0 25px;box-sizing: border-box;color: #000;font-size: 20px;font-weight: 400;line-height: normal;z-index: 1;}
.aboutusGroup .btnViewmore i{position: absolute;left: 0;top: 50%;width: 50px;height: 50px;margin-top: -25px;background: rgba(37, 72, 227, 0.50);border-radius: 50px;z-index: -1;}
.aboutusGroup .btnViewmore:hover i{background: #2548E3;}
#section4.ani .aboutusGroup:before{animation: rightAni 0.9s 1.5s both;}
#section4.ani .aboutusGroup .contact{animation: rightAni 0.8s 0.5s both;}
#section4.ani .aboutusGroup .customer{animation: rightAni 0.8s 1s both;}

.aboutusGroup #footer{opacity: 0;position: relative;width: 75%;height: 100%;padding: 0 70px;border-radius: 0px 100px 0px 0px;background: #F7F7F7;box-sizing: border-box;overflow: hidden;display: flex;justify-content: space-between;align-items: flex-start;flex-direction: row;flex-wrap: wrap;align-content: center;gap: 30px;}
.aboutusGroup #footer .footerLogo{margin-bottom: 20px;}
.aboutusGroup #footer .footerAddress ul li strong{color: #333;}
.aboutusGroup #footer .footerAddress ul li p{color: rgba(0, 0, 0, 0.80);}
.aboutusGroup #footer .footerCopy{color: rgba(0, 0, 0, 0.70);}
.aboutusGroup #footer .footerCopy span{color: #000;}
.aboutusGroup #footer .familyGroup button{background-image: url(../images/layout/icon_down_black.svg);border: 1px solid rgba(0, 0, 0, 0.50);color: #333;}
.aboutusGroup #footer .familyGroup ul{background-color: rgba(0, 0, 0, 0.9);}
.aboutusGroup #footer .familyGroup ul li a{color: #FFF;}
#section4.ani .aboutusGroup #footer{animation: rightAni 0.8s 1s both;}

@media screen and (max-height: 800px){

    .servicesGroup{height: 100%;min-height: 800px;}

}

@media screen and (max-width: 1399px){

    .visualSwiper .visualText p{font-size: 50px;}

    /* 20250723 START */
    .productGroup .titleGroup{/* padding: 140px 20px 0 50px; */}
    .productGroup .titleGroup strong{font-size: 40px;}
    .productGroup .titleGroup p{font-size: 20px;}
    .productGroup ul li{padding: 30px 20px 20px 20px;}
    .productGroup ul li p.lg{font-size: 28px;}
    .productGroup ul li p.md{font-size: 18px;}
    .productGroup ul li p.sm{font-size: 13px;}
    .productGroup ul li p.sm br.tabletHide{display: none !important;}
    .productGroup ul li .btnViewmore{/* font-size: 18px; */}
    /* 20250723 END */

    .ceoGroup .imageArea{width: 40%;}
    .ceoGroup .textArea{width: 60%;}
    .ceoGroup .textArea span{font-size: 24px;}
    .ceoGroup .textArea strong{font-size: 40px;}
    .ceoGroup .textArea p{font-size: 22px;}
    .ceoGroup .textArea .btnViewmore{font-size: 18px;}

    .aboutusGroup .contact{width: 30%;}
    .aboutusGroup .customer{width: 70%;}

    .aboutusGroup .contact h3{font-size: 40px;}
    .aboutusGroup .customer h3{font-size: 40px;}
    .aboutusGroup .btnViewmore{width: 165px;font-size: 18px;}

    .aboutusGroup #footer{width: 70%;}
    .aboutusGroup #footer .familyGroup ul{top: auto;bottom: 56px;}
}

@media screen and (max-width: 1199px){
    #fp-nav{display: none !important;}

    .visualSwiper .visualText p{font-size: 40px;}

    /* 20250723 START */
    #section2,
    #section2 .fp-tableCell,
    .fp-scrollable{height: auto !important;}
    .productGroup{height: auto;padding: 50px;}
    .productGroup .titleGroup{width: 100%;/* padding: 50px; */}
    .productGroup .titleGroup strong{font-size: 35px;}
    .productGroup ul li{width: 50%;height: 550px;}
   /*  .productGroup ul li{padding: 50px 50px 35%;background-position: center bottom;}
    .productGroup ul li:nth-child(1){background-image: url(../images/main/bg_afc_m.jpg);}
    .productGroup ul li:nth-child(2){background-image: url(../images/main/bg_acc_m.jpg);}
    .productGroup ul li:nth-child(3){background-image: url(../images/main/bg_Radiator_m.jpg);}
    .productGroup ul li p.lg{font-size: 24px;}
    .productGroup ul li .btnViewmore{margin-top: 15px;padding: 0 20px;font-size: 16px;}
    .productGroup ul li .btnViewmore i{width: 30px;height: 30px;margin-top: -15px;} */
    /* 20250723 EMD */

    #section3,
    #section3 .fp-tableCell{height: auto !important;}
    .ceoGroup{flex-direction: column;height: auto;}
    .ceoGroup .imageArea{order: 2;width: 100%;height: 400px;border-radius: 0 50px 0 0;}
    .ceoGroup .textArea{order: 1;width: 100%;padding: 50px 50px 150px;background-size: 60%;background-position: right bottom;}
    .ceoGroup .textArea span{font-size: 20px;}
    .ceoGroup .textArea strong{font-size: 35px;}
    .ceoGroup .textArea p{margin-top: 20px;font-size: 20px;}
    .ceoGroup .textArea .btnViewmore{margin-top: 25px;padding: 0 20px;font-size: 16px;}
    .ceoGroup .textArea .btnViewmore i{width: 30px;height: 30px;margin-top: -15px;}

    #section4,
    #section4 .fp-tableCell{height: auto !important;}
    .aboutusGroup{flex-direction: column;height: auto;padding-top: 200px;}
    .aboutusGroup:before{top: 123px;font-size: 90px;}
    .aboutusGroup .contact{/* order: 2; */width: 100%;padding: 20% 50px 10%;background-image: url(../images/main/bg_contactUs_m.jpg);border-radius: 0 50px 0 0;}
    .aboutusGroup .contact h3{font-size: 35px;}
    .aboutusGroup .customer{order: 1;width: 100%;padding: 50px;border-radius: 0 50px 0 0;}
    .aboutusGroup .customer h3{font-size: 35px;}
    .aboutusGroup .customer ul{margin-top: 30px;}
    .aboutusGroup .btnViewmore{width: 140px;padding: 0 20px;font-size: 16px;}
    .aboutusGroup .btnViewmore i{width: 30px;height: 30px;margin-top: -15px;}
    
    .aboutusGroup #footer{width: 100%;padding: 50px;border-radius: 0;}
    .aboutusGroup #footer .familyGroup button{margin-top: 0;}
    .aboutusGroup #footer .familyGroup ul{top: 56px;bottom: auto;}
}

@media screen and (max-width: 767px){

    .visualSwiper{min-height: 500px;}
    .visualSwiper .visualText p{font-size: 24px;}
    .visualControl{padding-top: 100px;}
    .visualControl .pagination{font-size: 14px;}
    .visualSwiper .visualBg{height: 100%;min-height: 500px;}

    /* 20250723 START */
    .productGroup{padding: 50px 20px;}
    .productGroup .titleGroup{/* padding: 50px 20px 30px; */}
    .productGroup .titleGroup strong{font-size: 30px;}
    .productGroup .titleGroup p{margin-top: 10px;font-size: 18px;}
    .productGroup ul li{width: 100%;height: 300px;/* padding: 50px 20px 65%; */}
    .productGroup ul li:nth-child(1){background-image: url(../images/main/bg_afc_m.jpg);}
    .productGroup ul li:nth-child(2){background-image: url(../images/main/bg_acc_m.jpg);}
    .productGroup ul li:nth-child(3){background-image: url(../images/main/bg_Radiator_m.jpg);}
    .productGroup ul li:nth-child(4){background-image: url(../images/main/bg_orc_m.jpg);}
    .productGroup ul li p.lg{font-size: 24px;}
    .productGroup ul li p.md{/* margin-top: 10px; */font-size: 16px;}
    .productGroup ul li p.sm{display: none;/* margin-top: 10px; */}
    /* 20250723 END */

    .ceoGroup .textArea{padding: 50px 20px 150px;background-size: 100%;background-position: center bottom;}
    .ceoGroup .textArea strong{font-size: 30px;}
    .ceoGroup .textArea p{font-size: 18px;}
    .ceoGroup .imageArea{height: 340px;}

    .aboutusGroup{padding-top: 120px;}
    .aboutusGroup:before{top: 65px;font-size: 66px;}
    .aboutusGroup .contact{padding: 20% 20px 10%;}
    .aboutusGroup .contact h3{font-size: 30px;}
    .aboutusGroup .customer{padding: 50px 20px;}
    .aboutusGroup .customer h3{font-size: 30px;}
    .aboutusGroup .customer ul{gap: 10px;margin-top: 20px;}
    .aboutusGroup .customer ul li{width: calc(50% - 5px);}
    .aboutusGroup .btnViewmore{margin-top: 30px;}

    #section4.ani .aboutusGroup:before{animation: rightAni 0.8s 0.5s both;}
    #section4.ani .aboutusGroup .contact{animation: rightAni 1s 1s both;}
    #section4.ani .aboutusGroup .customer{animation: rightAni 0.8s 1s both;}
    
    .aboutusGroup #footer{padding: 50px 20px;}
    .aboutusGroup #footer .familyGroup ul{top: auto;bottom: 56px;}
    #section4.ani .aboutusGroup #footer{animation: rightAni 0.8s 1s both;}
}

@-webkit-keyframes rightAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes rightAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}