#main{overflow: hidden;}

#fp-nav{right: 57px !important;}
#fp-nav ul{position: relative;}
#fp-nav ul:after{content: "";position: absolute;top: -22px;left: 3px;width: 1px;height: 180px;background: rgba(221, 221, 221, 0.2);}
#fp-nav ul li{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: nowrap;width: auto;height: 13px;margin: 0;}
#fp-nav ul li:last-child{display: none;}
#fp-nav ul li + li{margin-top: 50px;}
#fp-nav ul li a{width: 7px;height: 7px;}
#fp-nav ul li a span{left: 0;top: 0;height: 7px;width: 7px;background: #C2C2C3;margin: 0;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span{width: 7px;height: 7px;margin: 0;background: #F9001C;}
#fp-nav ul li a.active span:after{content: "";position: absolute;top: -6px;left: -6px;width: 19px;height: 19px;border: 1px solid #F9001C;border-radius: 100%;box-sizing: border-box;}
#fp-nav ul li:hover a span{width: 7px;height: 7px;margin: 0;}
#fp-nav ul li .fp-tooltip{position: relative;top: auto; left: auto !important;width: auto;margin-left: 12px;opacity: 1;font-size: 15px;color: #C2C2C3;font-weight: 700;}
#fp-nav ul li a.active + .fp-tooltip{color: #F9001C;}
#fp-nav.black ul:after{background: #666;}
#fp-nav.black ul li .fp-tooltip{color: #666;}
#fp-nav.black ul li a span{background: #666;}

.section{overflow: hidden;}
.visualWrap{position: relative;}
.visualSwiper{width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .swiper-wrapper{display: flex !important;}
.visualSwiper .swiper-slide{position: relative;height: 100%;}
.visualSwiper .visualBg{position: relative;width: 100%;min-height: 800px;height: 100vh;}
.visualSwiper .visualBg img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;object-fit: cover;transform: scale(1.2);}
.visualSwiper .visualText{position: absolute;top: 50%;left: 50%;display: flex;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;width: 100%;height: 100%;padding-bottom: 50px;box-sizing: border-box;text-align: center;z-index: 1;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}
.visualSwiper .visualText p{transform: translateY(1rem);-webkit-transform: translateY(1rem);-moz-transform: translateY(1rem);-ms-transform: translateY(1rem);-o-transform: translateY(1rem);opacity: 0;transition: 1.1s;-webkit-transition: 1.1s;-moz-transition: 1.1s;-ms-transition: 1.1s;-o-transition: 1.1s;transition-delay: 0.8s;color: #FFF;font-size: 50px;font-weight: 900;line-height: 130%;text-align: center;word-break: keep-all;}
.visualSwiper .visualText p.delay1{transition-delay: 1.0s;}
.visualSwiper .visualText p.delay2{transition-delay: 1.4s;}
.visualControl{position: absolute;top: 50%;left: 50%;width: 100%;max-width: 170px;height: 100%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);padding-top: 250px;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: center;gap: 10px;z-index: 99;}
.visualControl button{position: initial;top: initial;right: initial;left: initial;margin-top: initial;}
.visualControl .swiper-button-prev, .visualControl .swiper-button-next{width: 18px;height: 18px;background-image: url(../images/main/icon_left_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualControl .swiper-button-next{transform: rotate(180deg);}
.visualControl .swiper-button-autoplay{width: 18px;height: 18px;background-image: url(../images/main/icon_stop_white.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.visualControl .swiper-button-autoplay.on{background-image: url(../images/main/icon_start_white.svg);}
.visualControl .pagination{width: auto;color: #FFF;font-size: 18px;font-weight: 700;line-height: normal;letter-spacing: 0.2px;text-align: center;}
.visualControl .swiper-button-prev:after, .visualControl .swiper-button-next:after{display: none;}
.visualSwiper .swiper-slide-active .visualBg img{transform: scale(1);transition: transform 2.5s;}
.visualSwiper .swiper-slide:not(.swiper-slide-active) img{opacity: 0;}
.visualSwiper .swiper-slide-active .visualText p{opacity: 1;transform: none;-webkit-transform: none;-moz-transform: none;-ms-transform: none;-o-transform: none;}

#section2{position: relative;}
.servicesGroup{display: flex;justify-content: center;align-items: center;flex-direction: column;width: 100%;height: 100vh;padding: 100px 0 0;box-sizing: border-box;}
.servicesGroup .titleGroup{display: flex;flex-direction: column;align-items: center;justify-content: center;height: 25%;min-height: 170px;box-sizing: border-box;}
.servicesGroup .titleGroup strong{display: block;color: #000;font-size: 50px;font-weight: 800;line-height: 100%;letter-spacing: 1px;font-family: 'Paperozi';}
.servicesGroup .titleGroup strong:before{content: "";position: absolute;left: -30px;top: 0;display: block;width: 50px;height: 50px;background: #F9001C;border-radius: 100%;z-index: -1;}
.servicesGroup .titleGroup p{margin-top: 20px;color: #222;font-size: 24px;font-weight: 400;line-height: 140%;word-break: keep-all;}
.servicesGroup ul{display: flex;flex-direction: row;flex-wrap: wrap;align-content: flex-start;width: 100%;height: calc(100% - 25%);max-height: calc(100% - 170px);}
.servicesGroup ul li{width: 33.33%;height: 50%;overflow: hidden;}
.servicesGroup ul li a{display: flex;align-items: flex-start;flex-direction: column;justify-content: flex-end;width: 100%;height: 100%;padding: 30px 30px 65px 50px;padding: 1.5625vw 1.5625vw 3.3854vw 2.6042vw;box-sizing: border-box;background-position: center;background-size: cover;background-repeat: no-repeat;-webkit-transition: .5s;transition: .5s;}
.servicesGroup ul li a:after {content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: inherit;background-size: cover;transform-origin: center;transition: transform .5s ease-in-out;z-index: 1;}
.servicesGroup ul li:nth-child(1) a{background-image: url(../images/main/bg_services01.jpg);}
.servicesGroup ul li:nth-child(2) a{background-image: url(../images/main/bg_services02.jpg);}
.servicesGroup ul li:nth-child(3) a{background-image: url(../images/main/bg_services03.jpg);}
.servicesGroup ul li:nth-child(4) a{background-image: url(../images/main/bg_services04.jpg);}
.servicesGroup ul li:nth-child(5) a{background-image: url(../images/main/bg_services05.jpg);}
.servicesGroup ul li:nth-child(6) a{background-image: url(../images/main/bg_services06.jpg);}
.servicesGroup ul li .num{color:  #F9001C;font-size: 30px;font-size: 1.5625vw;font-weight: 800;line-height: 130%;z-index: 2;}
.servicesGroup ul li .name{color: #FFF;font-size: 40px;font-size: 2.0833vw;font-weight: 800;line-height: 100%;word-break: keep-all;z-index: 2;}
.servicesGroup ul li .btnMore{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;gap: 10px;width: fit-content;margin-top: 25px;border-radius: 50px;color: #FFF;font-size: 16px;font-weight: 800;line-height: 140%;-webkit-transition: .5s;transition: .5s;z-index: 2;}
.servicesGroup ul li .btnMore i{position: relative;display: block;width: 16px;height: 16px;}
.servicesGroup ul li .btnMore i:before{content: "";display: block;position: absolute;top: 0;left: 50%;width: 2px;height: 100%;margin-left: -1px;background: #FFF;}
.servicesGroup ul li .btnMore i:after{content: "";display: block;position: absolute;top: 50%;left: 0;width: 100%;height: 2px;margin-top: -1px;background: #FFF;}
.servicesGroup ul li a:hover:after{transform: scale(1.1);}
.servicesGroup ul li a:hover .btnMore{margin-top: 35px;padding: 10px 20px;background: #F9001C;}

#section3{position: relative;background-image: url(../images/main/bg_section3.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;height: 100vh;}
.communityGroup{display: flex;justify-content: space-between;align-items: stretch;flex-direction: row;flex-wrap: wrap;align-content: center;gap: 40px;width: 100%;max-width: 1560px;height: 100%;margin: 0 auto;padding: 120px 50px 20px;box-sizing: border-box;}
.noticeGroup{width: 820px;width: calc(57.5% - 20px);}
.noticeGroup .noticeArea{opacity: 0;padding: 30px;background: #FFF;box-sizing: border-box;}
.noticeGroup .recruitArea{opacity: 0;margin-top: 40px;padding: 30px;background: #FFF;box-sizing: border-box;}
.noticeGroup .titleGroup{padding-bottom: 15px;border-bottom: 2px solid #000;box-sizing: border-box;}
.noticeGroup .titleGroup p{color: #222;font-size: 34px;font-weight: 700;line-height: 150%;font-family: 'Paperozi';}
.noticeGroup .noticeArea ul{border-bottom: 1px solid #DDD;box-sizing: border-box;}
.noticeGroup .noticeArea ul li + li{border-top: 1px solid #DDD;box-sizing: border-box;}
.noticeGroup .noticeArea ul li a{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: stretch;gap: 15px;padding: 20px 0;box-sizing: border-box;}
.noticeGroup .noticeArea ul li a:hover .tit{text-decoration: underline;}
.noticeGroup .noticeArea ul li .tit{color: #222;font-size: 20px;font-weight: 700;line-height: 140%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.noticeGroup .noticeArea ul li:first-child .tit{font-size: 26px;}
.noticeGroup .noticeArea ul li .txt{overflow: hidden;color: #555;font-size: 18px;font-weight: 500;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 1.5;height: 4.5em;text-align: left;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.noticeGroup .noticeArea ul li .date{color: #999;font-size: 16px;font-weight: 500;line-height: 150%;}
.noticeGroup .recruitArea ul{display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;gap: 20px;margin-top: 20px;}
.noticeGroup .recruitArea ul li a{display: block;border: 1px solid #DDD;border-radius: 15px;box-sizing: border-box;overflow: hidden;vertical-align: middle;}
.noticeGroup .recruitArea ul li a img{width: 100%;vertical-align: middle;}
.surveyGroup{opacity: 0;width: 600px;width: calc(42.5% - 20px);overflow: hidden;}
.surveyGroup a{position: relative;display: flex;flex-direction: column;justify-content: flex-end;width: 100%;height: 100%;padding: 45px 30px;background-image: url(../images/main/bg_survey.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;box-sizing: border-box;}
.surveyGroup a:before{content: "";position: absolute;bottom: 30px;right: 30px;width: 70px;height: 65px;background-image: url(../images/main/icon_survey.svg);background-position: center;background-size: cover;background-repeat: no-repeat;box-sizing: border-box;z-index: 2;}
.surveyGroup a:after{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: inherit;background-size: cover;transform-origin: center;transition: transform .5s ease-in-out;z-index: 1;}
.surveyGroup .name{position: relative;color: #FFF;font-size: 34px;font-weight: 700;line-height: 150%;z-index: 2;}
.surveyGroup .btnMore{position: relative;display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;gap: 10px;width: fit-content;margin-top: 25px;border-radius: 50px;color: #FFF;font-size: 16px;font-weight: 800;line-height: 140%;-webkit-transition: .5s;transition: .5s;z-index: 2;}
.surveyGroup .btnMore i{position: relative;display: block;width: 16px;height: 16px;}
.surveyGroup .btnMore i:before{content: "";display: block;position: absolute;top: 0;left: 50%;width: 2px;height: 100%;margin-left: -1px;background: #FFF;}
.surveyGroup .btnMore i:after{content: "";display: block;position: absolute;top: 50%;left: 0;width: 100%;height: 2px;margin-top: -1px;background: #FFF;}
.surveyGroup a:hover:after{transform: scale(1.1);}
.surveyGroup a:hover .btnMore{margin-top: 35px;padding: 10px 20px;background: #F9001C;}

#section3.ani .noticeGroup .noticeArea{animation: rightAni 1s 0.5s both;}
#section3.ani .noticeGroup .recruitArea{animation: rightAni 1s 0.8s both;}
#section3.ani .surveyGroup{animation: leftAni 1s 0.5s both;}

@media screen and (max-height: 800px){

    .servicesGroup{height: 100%;min-height: 800px;}

}

@media screen and (max-width: 1599px){

    #fp-nav{display: none !important;}

}

@media screen and (max-width: 1399px){

    .visualSwiper .visualText p{font-size: 3.5740vw;}
    .servicesGroup{padding: 0;}
    .communityGroup{padding: 40px;}
    
}

@media screen and (max-width: 1199px){

    .visualSwiper .visualText p{font-size: 30px;}
    
    #section2,
    #section2 .fp-tableCell,
    .fp-scrollable{height: auto !important;}
    .servicesGroup{justify-content: flex-end;height: auto;}
    .servicesGroup .titleGroup{height: auto;min-height: auto;padding: 70px 0 40px;}
    .servicesGroup .titleGroup strong{font-size: 40px;}
    .servicesGroup .titleGroup strong:before{left: -20px;width: 40px;height: 40px;}
    .servicesGroup .titleGroup p{margin-top: 10px;font-size: 20px;}
    .servicesGroup ul{height: auto;}
    .servicesGroup ul li{width: 50%;height: 250px;}
    .servicesGroup ul li .name{font-size: 2.5vw;}

    #section3,
    #section3 .fp-tableCell{height: auto !important;}
    .noticeGroup{width: 100%;}
    .noticeGroup .titleGroup p{font-size: 30px;}
    .noticeGroup .noticeArea ul li a{gap: 10px;}
    .noticeGroup .noticeArea ul li .tit{font-size: 18px;}
    .noticeGroup .noticeArea ul li:first-child .tit {font-size: 24px;}
    .surveyGroup{width: 100%;height: 500px;}
    .surveyGroup .name{font-size: 30px;}

}

@media screen and (max-width: 767px){

    .visualSwiper{min-height: 500px;}
    .visualSwiper .visualText p{font-size: 24px;}
    .visualControl{padding-top: 200px;}
    .visualControl .pagination{font-size: 14px;}
    .visualSwiper .visualBg{height: 100%;min-height: 500px;}
    .servicesGroup{height: auto;}
    .servicesGroup .titleGroup{padding: 40px 0 20px;}
    .servicesGroup .titleGroup strong{font-size: 30px;}
    .servicesGroup .titleGroup strong:before{left: -15px;width: 30px;height: 30px;}
    .servicesGroup .titleGroup p{font-size: 18px;}
    .servicesGroup ul li{width: 100%;height: 200px;}
    .servicesGroup ul li a{padding: 20px;}
    .servicesGroup ul li .num{font-size: 22px;}
    .servicesGroup ul li .name{font-size: 26px;}
    .servicesGroup ul li .btnMore{margin-top: 15px;font-size: 14px;}
    .servicesGroup ul li .btnMore i{width: 14px;height: 14px;}
    .servicesGroup ul li a:hover .btnMore{margin-top: 15px;}
    .communityGroup{gap: 20px;padding: 20px;}
    .noticeGroup .titleGroup{padding-bottom: 10px;}
    .noticeGroup .titleGroup p{font-size: 26px;}
    .noticeGroup .noticeArea{padding: 20px;}
    .noticeGroup .noticeArea ul li a{gap: 8px;padding: 15px 0;}
    .noticeGroup .noticeArea ul li .tit{font-size: 16px;}
    .noticeGroup .noticeArea ul li:first-child .tit{font-size: 18px;}
    .noticeGroup .noticeArea ul li .txt{font-size: 14px;}
    .noticeGroup .noticeArea ul li .date{font-size: 13px;}
    .noticeGroup .recruitArea{padding: 20px;margin-top: 20px;}
    .noticeGroup .recruitArea ul{gap: 10px;}
    .surveyGroup{height: 300px;}
    .surveyGroup a{padding: 20px;}
    .surveyGroup .name{font-size: 26px;}
    .surveyGroup .btnMore{margin-top: 15px;font-size: 14px;}
    .surveyGroup .btnMore i{width: 14px;height: 14px;}
    .surveyGroup a:hover .btnMore{margin-top: 15px;}

}

@media screen and (max-width: 590px){

    .noticeGroup .recruitArea ul{flex-direction: column;align-items: stretch;}
    .noticeGroup .recruitArea ul li a{display: flex;align-items: center;justify-content: center;height: 60px;width: 100%;border-radius: 10px;}
    .noticeGroup .recruitArea ul li a img{width: auto;}

}

@-webkit-keyframes rightAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes rightAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes leftAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes leftAni {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(100px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}