#sub{position: relative;width: 100%;min-height: 700px;overflow: hidden;}
#subVisual{position: relative;display: flex;align-items: center;justify-content: center;height: 500px;box-sizing: border-box;text-align: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;transform: scale(1.2);transform-origin: center center;animation: scale 2s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
#subVisual .visualtext{overflow: hidden;margin-top: 20px;}
#subVisual .visualtext h2{font-size: 40px;color: #FFF;font-weight: 700;line-height: 100%;text-align: center;font-family: 'Paperozi';}

#sub .inner{max-width: 1500px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.snbList{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;max-width: 1460px;width: 100%;margin: 0 auto 100px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.snbList > li{position: relative;width: 250px;}
.snbList > li:nth-child(3):after{content: "";position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 1px;height: 20px;background: #DDD;}
.snbList > li.home{width: 60px;height: 60px;}
.snbList > li.home a{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;background-color: #F9001C;}
.snbList > li > button{position: relative;display: block;width: 100%;height: 60px;padding: 0 40px 0 20px;box-sizing: border-box;font-size: 17px;color: #222;font-weight: 500;line-height: normal;text-align: left;word-break: keep-all;}
.snbList > li > button:after{content: "";position: absolute;top: 50%;right: 24px;transform: translateY(-50%);width: 10px;height: 10px;background-image: url(../images/sub/arrow_down_black.svg);background-size: 100%;background-position: center;background-repeat: no-repeat;transition: all 0.5s;}
.snbList > li > ul{display: none;position: absolute;top: 55px;left: 50%;transform: translateX(-50%);width: 100%;padding: 20px 20px;background: #FFF;border: 1px solid #DDD;border-radius: 5px;box-sizing: border-box;text-align: left;z-index: 50;box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.05);}
.snbList > li > ul > li > a{position: relative;display: block;width: 100%;box-sizing: border-box;font-size: 17px;color: #222;font-weight: 400;line-height: 250%;letter-spacing: -0.6px;transition: all 0.5s;}
.snbList > li > ul > li > a:hover, .snbList > li > ul > li.on > a{color: #F9001C;font-weight: 600;}
.subContent{position: relative;margin-bottom: 100px;box-sizing: border-box;overflow: hidden;}

.titleXl{position: relative;display: inline-block;margin-bottom: 25px;color: #000;font-size: 36px;font-weight: 700;line-height: 150%;letter-spacing: -0.4px;word-break: keep-all;}
.titleXl:before{content: "";position: absolute;right: -10px;bottom: 10px;width: 5px;height: 5px;background: #F9001C;border-radius: 100%;}

.tableboardList{width: 100%;border-top: 2px solid #F9001C;border-spacing: 0;border-collapse: separate;box-sizing: border-box;}
.tableboardList thead tr:last-child > * {border-bottom: 1px solid #DDD;}
.tableboardList th, .tableboardList td {height: 60px;padding: 15px 10px;color: #222;font-size: 16px;text-align: center;line-height: 150%;box-sizing: border-box;}
.tableboardList th {position: relative;background: #f9f9f9;font-weight: 700;letter-spacing: -0.8px;}
.tableboardList td {border-bottom: 1px solid #DDD;font-weight: 400;letter-spacing: -0.2px;}
.tableboardList td.subject{text-align: left;}
.tableboardList td.subject a{-webkit-transition: .3s;transition: .3s;}
.tableboardList td.subject a:hover{color: #000;text-decoration-line: underline;}
.noticeLabel{display: inline-block;padding: 8px 12px;border-radius: 5px;background: #F9001C;box-sizing: border-box;color: #FFF;font-size: 14px;font-weight: 600;line-height: 100%;letter-spacing: -0.2px;text-align: center;vertical-align: middle;}
.paging {margin-top: 100px;text-align: center;font-size: 0;}
.paging a, .paging strong{display: inline-block;width: 40px;height: 40px;line-height: 40px;margin: 0 3px;border-radius: 100%;box-sizing: border-box;color: #111;font-size: 15px;font-weight: 500;vertical-align: middle;text-decoration: none;z-index: 10;}
.paging strong{background: #222;color: #FFF;font-weight: 700;}
.paging #page_prev, .paging #page_next{width: 40px;height: 40px;background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.paging #page_prev{background-image: url(../images/sub/arrow_prev.svg);}
.paging #page_next{background-image: url(../images/sub/arrow_next.svg);}

.boardView{border-top: 2px solid #F9001C;box-sizing: border-box;}
.boardViewHeader{padding: 30px;border-bottom: 1px solid #CCC;box-sizing: border-box;text-align: center;}
.boardViewHeader .title{margin-bottom: 10px;}
.boardViewHeader .title .noticeLabel{margin-right: 10px;}
.boardViewHeader .title p{display: inline-block;font-size: 20px;color: #000;font-weight: 500;line-height: 150%;letter-spacing: -0.4px;text-align: center;word-break: keep-all;vertical-align: middle;}
.boardViewHeader .name, .boardViewHeader .date, .boardViewHeader .hits{font-size: 15px;color: #555;font-weight: 400;line-height: normal;letter-spacing: -0.4px;text-align: center;}
.boardViewHeader span + span:before{content: "ㅣ";margin: 0 6px 0 3px;font-size: 14px;color: #DDD;font-weight: 200;line-height: normal;letter-spacing: -0.6px;}
.fileList{display: flex;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.fileList strong{display: flex;justify-content: center;align-items: center;width: 200px;padding: 15px 0;background: #f9f9f9;border-right: 1px solid #DDD;box-sizing: border-box;font-size: 16px;color: #000;font-weight: 600;line-height: 150%;letter-spacing: -0.4px;}
.fileList ul{width: calc(100% - 200px);}
.fileList ul li{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-between;width: 100%;padding: 8px 20px;box-sizing: border-box;}
.fileList ul li + li{border-top: 1px solid #DDD;}
.fileList ul li p{font-size: 16px;color: #000;font-weight: 400;line-height: 150%;letter-spacing: -0.4px;word-break: keep-all;}
.fileList ul li a{padding: 8px 20px;border: 1px solid #222;border-radius: 3px;box-sizing: border-box;font-size: 14px;color: #222;font-weight: 700;line-height: 20px;letter-spacing: -0.4px;text-align: center;-webkit-transition: .3s;transition: .3s;}
.fileList ul li a:hover{background: #222;color: #fff;}
.boardViewbody{padding: 80px 50px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.boardBtnGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-end;margin-top: 50px;}
.boardBtnGroup button, .boardBtnGroup a{display: inline-flex;justify-content: center;align-items: center;padding: 15px 35px;background: #222;border: 1px solid #222;border-radius: 5px;box-sizing: border-box;color: #FFF;box-sizing: border-box;font-size: 16px;font-weight: 600;line-height: normal;letter-spacing: -0.4px;transition: .3s;-webkit-transition: .3s;}
.boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 10px;}
.boardBtnGroup button:hover, .boardBtnGroup a:hover{background: #000;border: 1px solid #000;color: #fff;}
.boardViewNav{margin-top: 50px;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.boardViewNav li{display: flex;align-items: center;justify-content: flex-start;flex-direction: row;flex-wrap: nowrap;}
.boardViewNav li + li{border-top: 1px solid #DDD;}
.boardViewNav li p{display: flex;align-items: center;justify-content: center;width: 100px;color: #222;font-size: 16px;font-weight: 600;line-height: 60px;vertical-align: middle;letter-spacing: -1px;}
.boardViewNav li a{position: relative;width: calc(100% - 100px);padding-left: 12px;box-sizing: border-box;color: #444;font-size: 16px;font-weight: 400;line-height: 60px;letter-spacing: -0.6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;}
.boardViewNav li a:hover{color: #000;text-decoration: underline;}

.servicesList {border-top: 2px solid #F9001C;}
.servicesList > li{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 50px;padding: 50px 0;border-bottom: 1px dashed #AAA;box-sizing: border-box;scroll-margin-top: 100px;}
.servicesList .img{position: relative;width: 600px;width: 41.5%;}
.servicesList .servicesSwiper .swiper-slide img{width: 100%;vertical-align: bottom;}
.servicesList .servicesSwiper + .pagination{position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);z-index: 1;line-height: 10px;}
.servicesList .swiper-pagination-bullet{width: 10px;height: 10px;margin: 0 5px;background: #999;opacity: 1;}
.servicesList .swiper-pagination-bullet-active{background: #F9001C;}
.servicesList .text{width: 810px;width: calc(58.5% - 50px);}
.servicesList .text .num{color: #F9001C;font-size: 20px;font-weight: 700;line-height: 100%;}
.servicesList .text .titLg{margin-top: 15px;color: #000;font-size: 28px;font-weight: 700;line-height: 100%;word-break: keep-all;}
.servicesList .text .titMd{margin-top: 30px; color: #222;font-size: 22px;font-weight: 600;line-height: 100%;word-break: keep-all;}
.servicesList .text .txt{margin-top: 15px;color: #222;font-size: 20px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.servicesList .text .titMd + .txt{margin-top: 10px;}

.itemList{border-top: 2px solid #F9001C;box-sizing: border-box;}
.itemList > li{display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: flex-start;margin: 50px 0;padding-bottom: 50px;border-bottom: 1px dashed #AAA;box-sizing: border-box;}
.itemList > li:last-child{margin-bottom: 0;}
.itemList > li > .title{width: 310px;color: #111;font-size: 30px;font-weight: 700;line-height: 150%;letter-spacing: -0.2px;}
.itemList > li > .text{width: calc(100% - 310px);}

.greetingGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;gap: 50px;}
.greetingGroup > .img{width: calc(43% - 25px);}
.greetingGroup > .img img{width: 100%;vertical-align: bottom;}
.greetingGroup > .text{width: calc(57% - 25px);display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-start;gap: 30px;}/* 20251228 */
.greetingGroup > .text strong{color: #222;font-size: 24px;font-weight: 600;line-height: 150%;letter-spacing: 0.5px;font-family: 'Paperozi';word-break: keep-all;}
.greetingGroup > .text p{color: #555;font-size: 18px;font-weight: 400;line-height: 160%;letter-spacing: -0.2px;word-break: keep-all;}
.greetingGroup > .text p.sign{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;color: #222;font-size: 18px;font-weight: 600;line-height: 150%;letter-spacing: -0.2px;}/* 20251228 */
.greetingGroup > .text p.sign b{margin: 0 10px;font-size: 24px;}
.greetingGroup > .text p.sign i.en img{vertical-align: bottom;}

.managementBg{width: 100%;padding: 133px 0;margin-bottom: 100px;background: url(../images/sub/bg_management.jpg) no-repeat center center fixed;background-size: cover;box-sizing: border-box;text-align: center;}
.managementBg strong{display: block;color: #FFF;font-size: 34px;font-weight: 700;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.managementBg span{display: block;margin-top: 5px;color: #FFF;font-size: 20px;font-weight: 400;line-height: 150%;word-break: keep-all;}
.managementBg p{margin-top: 30px;color: #FFF;font-size: 28px;font-weight: 600;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}

.managementBox{padding: 60px 50px;background: #FAFAFA;box-sizing: border-box;}
.managementBox > ul > li{display: flex;padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #D9D9D9;box-sizing: border-box;color: #222;font-size: 21px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.managementBox > ul > li span{margin-right: 20px;font-weight: 700;}
.managementBox > ul > li p{display: inline-block;}
.managementBox > p{margin-top: 30px;margin-bottom: 30px;color: #222;font-size: 24px;font-weight: 500;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}

.counselingGroup{padding: 100px 60px;background-image: url(../images/sub/bg_counseling.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;box-sizing: border-box;}
.counselingGroup > h5{color: #FFF;font-size: 36px;font-weight: 700;line-height: 130%;word-break: keep-all;}
.counselingGroup > p{margin-top: 30px;color: #FFF;font-size: 20px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.counselingGroup .call{margin-top: 45px;display: flex;flex-direction: row;flex-wrap: wrap;gap: 30px;}
.counselingGroup .call > li{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-start;justify-content: center;width: 800px;height: auto;padding: 25px 25px 25px 120px;background-image: url(../images/sub/icon_call.svg);background-position: 40px center;background-repeat: no-repeat;border-radius: 20px;background-color: rgba(255, 255, 255, 0.20);backdrop-filter: blur(7.5px);box-sizing: border-box;}
.counselingGroup .call > li b{color: #FFF;font-size: 20px;font-weight: 700;line-height: 150%;}
.counselingGroup .call > li p{margin-top: 5px;color: #FFF;font-size: 18px;font-weight: 500;line-height: 150%;}
.counselingGroup .call > li > ul{display: flex;flex-direction: row;flex-wrap: nowrap;align-items: flex-start;gap: 30px;}

.historyWrap{position: relative;padding: 5px 0;margin: 10px 0;box-sizing: border-box;}
.historyWrap:before{content: "";position: absolute;top: 0;left: 135px;width: 1px;height: 100%;border-left: 1px dotted #222;box-sizing: border-box;}
.historyWrap > dl{overflow: hidden;}
.historyWrap > dl + dl{padding-top: 100px;}
.historyWrap > dl > dt{float: left;width: 180px;color: #F9001C;font-family: 'Paperozi';font-size: 32px;font-weight: 700;line-height: 100%;letter-spacing: -0.2px;font-family: 'Paperozi';}
.historyWrap > dl > dd{float: left;width: calc(100% - 180px);}
.historyWrap > dl > dd > div{position: relative;display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;}
.historyWrap > dl > dd > div + div{margin-top: 50px;}
.historyWrap > dl > dd strong{width: 100px;color: #222;font-size: 32px;font-weight: 700;line-height: 100%;letter-spacing: -0.2px;font-family: 'Paperozi';}
.historyWrap > dl > dd strong:before{content: "";position: absolute;top: 5px;left: -55px;width: 21px;height: 21px;background: #FFF;border: 1px solid #F9001C;border-radius: 100%;box-sizing: border-box;}
.historyWrap > dl > dd strong:after{content: "";position: absolute;top: 12px;left: -48px;width: 7px;height: 7px;background: #F9001C;border-radius: 100%;box-sizing: border-box;}
.historyWrap > dl > dd ul{width: calc(100% - 100px);margin-top: 3px;}
.historyWrap > dl > dd ul > li{color: #555;font-size: 18px;font-weight: 500;line-height: 150%;word-break: keep-all;}
.historyWrap > dl > dd ul > li + li{margin-top: 15px;}

.mapList {border-top: 2px solid #F9001C;box-sizing: border-box;}
.mapList > li{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 50px;padding: 50px 0;border-bottom: 1px dashed #AAA;box-sizing: border-box;}
.mapList .mapArea{position: relative;width: 750px;width: 53%;}
.mapList .addrArea{width: calc(47% - 50px);}
.mapList .addrArea strong{color: #111;font-size: 30px;font-weight: 700;line-height: 150%;letter-spacing: -0.2px;}
.mapList .addrArea ul{margin-top: 35px;}
.mapList .addrArea ul li{display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;}
.mapList .addrArea ul li + li{margin-top: 20px;}
.mapList .addrArea ul li b{width: 135px;color: #222;font-size: 24px;font-weight: 700;line-height: 150%;letter-spacing: -0.2px;}
.mapList .addrArea ul li p{width: calc(100% - 135px);margin-top: 5px;color: #555;font-size: 20px;font-weight: 400;line-height: 140%;letter-spacing: -0.2px;word-break: keep-all;}
.addrList{margin-top: 50px;}
.addrList > ul{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;gap: 36px;}
.addrList > ul > li{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-start;gap: 10px;width: calc(33.33% - 24px);padding: 20px;border: 1px solid #ddd;box-sizing: border-box;}
.addrList .name{color: #222;font-size: 24px;font-weight: 700;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.addrList .addr{color: #555;font-size: 16px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.addrList .tel{color: #555;font-size: 16px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}

.clientList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 40px;}
.clientList > li{width: calc(25% - 30px);}
.clientList > li > p.ci{margin-bottom: 10px;border: 1px solid #ddd;box-sizing: border-box;text-align: center;}
.clientList > li > p.ci img{vertical-align: middle;}
.clientList > li > p.name{color: #222;font-size: 20px;font-weight: 600;line-height: 150%;text-align: center;text-transform: uppercase;}

.partnerList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 40px;}
.partnerList > li{width: calc(25% - 30px);}
.partnerList > li > a{display: block;}
.partnerList > li p.ci{margin-bottom: 10px;border: 1px solid #ddd;box-sizing: border-box;text-align: center;}
.partnerList > li p.ci img{vertical-align: middle;}
.partnerList > li p.name{color: #222;font-size: 20px;font-weight: 600;line-height: 150%;text-align: center;text-transform: uppercase;}

.certificateList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 40px 33px;}
.certificateList > li{width: calc(25% - 25px);}
.certificateList > li > p.img{margin-bottom: 10px;border: 1px solid #ddd;box-sizing: border-box;text-align: center;}
.certificateList > li > p.img img{vertical-align: middle;}
.certificateList > li > p.name{color: #222;font-size: 20px;font-weight: 600;line-height: 150%;text-align: center;text-transform: uppercase;word-break: keep-all;}

.imgModal {position: fixed;inset: 0;display: none;z-index: 1000;}
.imgModal .dim {position: absolute;inset: 0;background: rgba(0, 0, 0, 0.7);}
.imgModal .modalInner {position: relative;z-index: 1;max-width: 100%;height: 100%;padding: 40px;display: flex;align-items: flex-start;justify-content: center;gap: 10px;box-sizing: border-box;}
.imgModal .btnClose{position: relative;width: 30px;height: 30px;}
.imgModal .btnClose span{position: relative;top: -4px;left: -5px;display: inline-block;width: 40px;height: 3px;background: #FFF;transition: all 0.5s;will-change: transform;transform: rotate(45deg);overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.imgModal .btnClose:after{content: "";position: absolute;right: -5px;top: 14px;transform: rotate(315deg);width: 40px;height: 3px;background: #FFF;transition: all 0.5s;will-change: transform;}

.formList{margin-top: 50px;}
.formList .tips{padding: 0 0 15px;box-sizing: border-box;color: #333;font-size: 16px;font-weight: 500;line-height: 150%;letter-spacing: -0.7px;word-break: keep-all;}
.formList > ul{display: flex;flex-direction: column;border-top: 2px solid #F9001C;box-sizing: border-box;}
.formList > ul > li{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;padding: 20px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.formList .title{width: 250px;padding: 11px 10px 11px 0;box-sizing: border-box;color: #222;font-size: 18px;font-weight: 700;line-height: 150%;letter-spacing: -0.7px;word-break: keep-all;text-align: left;}
.formList .value{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;min-height: 46px;width: calc(100% - 250px);color: #666;font-size: 18px;font-weight: 400;line-height: 150%;letter-spacing: -0.7px;word-break: keep-all;text-align: left;}
.wFull{width: 100%;}
.inlineBtn{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;gap: 10px;width: 100%;}
.inlineBtn > input{width: calc(100% - 110px);}
.inlineBtn > button, .inlineBtn > a{width: 100px;height: 46px;border: 1px solid #F9001C;box-sizing: border-box;color: #F9001C;font-size: 15px;font-weight: 500;line-height: 160%;letter-spacing: -0.8px;}
.numberGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;gap: 10px;}
.numberGroup input, .numberGroup select{width: 150px;}
.numberGroup span{color: #222;font-size: 16px;font-weight: 400;line-height: 150%;letter-spacing: -0.7px;text-align: center;}
.emailGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;gap: 10px;}
.emailGroup input, .emailGroup select{width: 235px;}
.emailGroup span{color: #222;font-size: 16px;font-weight: 400;line-height: 150%;letter-spacing: -0.7px;text-align: center;}
.btnGroup{display: flex;align-items: center;justify-content: center;gap: 20px;margin-top: 50px;}
.btnGroup a, .btnGroup button{display: flex;align-items: center;justify-content: center;width: 250px;height: 70px;font-size: 18px;font-weight: 700;line-height: 150%;letter-spacing: -0.6px;}
.btnGroup a.mainColor, .btnGroup button.mainColor{background: #F9001C;color: #FFF;}

@media screen and (max-width: 1399px){

    #subVisual{height: 400px;}

}

@media screen and (max-width: 1199px){

    .dotList li{font-size: 16px;}
    .dotList li:before{top: 10px;}

    .paging{margin-top: 80px;}

    .servicesList > li{gap: 30px;padding: 30px 0;scroll-margin-top: 80px;}
    .servicesList .servicesSwiper + .pagination{bottom: 25px;}
    .servicesList .swiper-pagination-bullet{margin: 0 4px;}
    .servicesList .text{width: 810px;width: calc(58.5% - 30px);}
    .servicesList .text .num{font-size: 18px;}
    .servicesList .text .titLg{margin-top: 10px;font-size: 24px;}
    .servicesList .text .titMd{margin-top: 20px;font-size: 20px;}
    .servicesList .text .txt{margin-top: 10px;font-size: 18px;}

    .itemList > li{margin: 30px 0;padding-bottom: 30px;}
    .itemList > li > .title{width: 260px;font-size: 24px;}
    .itemList > li > .text{width: calc(100% - 260px);}

    .managementBg{padding: 100px 0;margin-bottom: 50px;}
    .managementBg strong{font-size: 30px;}
    .managementBg span{font-size: 18px;}
    .managementBg p{margin-top: 15px;font-size: 22px;}

    .managementBox{padding: 40px;}
    .managementBox > p{font-size: 20px;}
    .managementBox > ul > li{padding-bottom: 15px;margin-bottom: 15px;font-size: 18px;}
    .managementBox > ul > li span{margin-right: 10px;}

    .counselingGroup{padding: 70px 40px;}
    .counselingGroup > h5{font-size: 30px;}
    .counselingGroup > p{margin-top: 20px;font-size: 16px;}
    .counselingGroup .call{margin-top: 30px;gap: 20px;}
    .counselingGroup .call > li{width: 700px;height: auto;padding: 25px 20px 25px 80px;background-position: 30px center;background-size: 30px;}
    .counselingGroup .call > li b{font-size: 18px;}
    .counselingGroup .call > li p{margin-top: 0;font-size: 16px;}

    .historyWrap > dl > dt{font-size: 28px;}
    .historyWrap > dl > dd strong{width: 80px;font-size: 28px;}
    .historyWrap > dl > dd strong:before{top: 3px;}
    .historyWrap > dl > dd strong:after{top: 10px;}
    .historyWrap > dl > dd ul{width: calc(100% - 80px);margin-top: 2px;}
    .historyWrap > dl > dd ul > li{font-size: 16px;}

    .mapList > li{gap: 30px;padding: 40px 0;}
    .mapList .mapArea{width: 50%;}
    .mapList .mapArea .mapSection{height: 400px !important;}
    .mapList .addrArea{width: calc(50% - 30px);}
    .mapList .addrArea strong{font-size: 26px;}
    .mapList .addrArea ul{margin-top: 20px;}
    .mapList .addrArea ul li + li{margin-top: 10px;}
    .mapList .addrArea ul li b{width: 110px;font-size: 20px;}
    .mapList .addrArea ul li p{width: calc(100% - 110px);margin-top: 4px;font-size: 18px;}
    .addrList{margin-top: 40px;}
    .addrList > ul{gap: 30px;}
    .addrList > ul > li{width: calc(50% - 15px);gap: 5px;}
    .addrList .name{font-size: 20px;}
    .addrList .addr{font-size: 15px;}
    .addrList .tel{font-size: 15px;}

    .clientList{gap: 21px;}
    .clientList > li{width: calc(33.33% - 14px);}
    .clientList > li > p.name{font-size: 18px;}

    .partnerList{gap: 21px;}
    .partnerList > li{width: calc(33.33% - 14px);}
    .partnerList > li p.name{font-size: 18px;}

    .certificateList{gap: 21px;}
    .certificateList > li{width: calc(33.33% - 14px);}
    .certificateList > li > p.name{font-size: 18px;}

    .formList .title{width: 180px;font-size: 16px;}
    .formList .value{width: calc(100% - 180px);font-size: 16px;}
    .numberGroup input, .numberGroup select{width: 130px;}
    .emailGroup input, .emailGroup select{width: 205px;}

}
@media screen and (max-width: 767px){

    #subVisual{height: 280px;}
    #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
    #subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
    #subVisual .visualtext h2{font-size: 30px;}

    .snbList{margin-bottom: 50px;}
    .snbList > li{width: calc(50% - 25px);}
    .snbList > li:after{height: 26px;}
    .snbList > li.home{width: 50px;height: 50px;}
    .snbList > li > button{height: 50px;padding: 0 20px 0 10px;font-size: 14px;}
    .snbList > li > button:after{right: 10px;}
    .snbList > li > ul{top: 45px;padding: 10px;}
    .snbList > li > ul > li > a{font-size: 14px;line-height: 200%;}
    .subContent{margin-bottom: 70px;}

    .titleXl{margin-bottom: 15px;font-size: 24px;}
    .titleXl:before{width: 6px;height: 6px;}

    .tableboardList colgroup,
    .tableboardList thead{display: none;}
    .tableboardList .mNone{display: none;}
    .tableboardList tr{position: relative;display: block;padding: 15px 0;border-bottom: 1px solid #DDD;box-sizing: border-box;}
    .tableboardList td{display: inline-block;height: auto;padding: 0;border-bottom: 0;font-size: 14px;vertical-align: middle;}
    .tableboardList td.subject{display: block;}
    .tableboardList td.mInline{line-height: 1;}
    .tableboardList td.mInline + td.mInline{border-left: 1px solid #DDD;margin-left: 8px;padding-left: 10px;}
    .paging{margin-top: 50px;}
    .paging a, .paging strong{width: 36px;height: 36px;line-height: 36px;margin: 0 2px;font-size: 14px;}
    .paging #page_prev, .paging #page_next{width: 36px;height: 36px;}

    .boardViewHeader{padding: 20px 0;}
    .boardViewHeader .title{margin-bottom: 5px;}
    .boardViewHeader .title .noticeLabel{margin-right: 0;margin-bottom: 5px;}
    .boardViewHeader .title p{display: block;font-size: 18px;}
    .boardViewHeader .name, .boardViewHeader .date, .boardViewHeader .hits{font-size: 14px;}
    .boardViewHeader span + span:before{margin: 0 3px 0 0;}
    .fileList strong{display: none;}
    .fileList ul{width: 100%;}
    .fileList ul li{gap: 5px;padding: 10px;}
    .fileList ul li + li{border-top: 1px solid #DDD;}
    .fileList ul li p{font-size: 14px;}
    .fileList ul li a{padding: 3px 10px;font-size: 12px;}
    .boardViewbody{padding: 30px 0;}
    .boardBtnGroup{margin-top: 20px;}
    .boardBtnGroup button, .boardBtnGroup a{padding: 12px 25px;font-size: 14px;}
    .boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 5px;}
    .boardViewNav{margin-top: 20px;}
    .boardViewNav li p{width: 80px;font-size: 14px;line-height: 50px;}
    .boardViewNav li a{width: calc(100% - 90px);padding-left: 10px;font-size: 14px;line-height: 50px;}

    .servicesList > li{gap: 20px;padding: 20px 0;scroll-margin-top: 70px;}
    .servicesList .img{width: 100%;}
    .servicesList .servicesSwiper + .pagination{bottom: 20px;}
    .servicesList .swiper-pagination-bullet{width: 8px;height: 8px;margin: 0 4px;}
    .servicesList .text{width: 100%;}
    .servicesList .text .num{font-size: 16px;}
    .servicesList .text .titLg{font-size: 20px;}
    .servicesList .text .titMd{font-size: 18px;}
    .servicesList .text .txt{font-size: 16px;}

    .greetingGroup{gap: 20px;}
    .greetingGroup > .img{width: 100%;}
    .greetingGroup > .text{width: 100%;gap: 20px;}
    .greetingGroup > .text strong{font-size: 20px;}
    .greetingGroup > .text p{font-size: 16px;}
    .greetingGroup > .text p.sign{font-size: 16px;}
    .greetingGroup > .text p.sign b{margin: 0 10px;font-size: 20px;}
    .greetingGroup > .text p.sign i.en{width: 97px;}

    .itemList > li{margin: 20px 0;padding-bottom: 20px;}
    .itemList > li > .title{width: 100%;font-size: 20px;}
    .itemList > li > .text{width: 100%;margin-top: 20px;}

    .managementBg{padding: 70px 20px;margin-bottom: 30px;}
    .managementBg strong{font-size: 18px;}
    .managementBg span{font-size: 13px;}
    .managementBg p{margin-top: 10px;font-size: 16px;}
    
    .managementBox{padding: 20px;}
    .managementBox > ul > li{padding-bottom: 10px;margin-bottom: 10px;font-size: 15px;}
    .managementBox > p{margin-top: 15px;margin-bottom: 15px;font-size: 16px;}

    .counselingGroup{padding: 30px 20px;background-image: url(../images/sub/bg_counseling_m.jpg);}
    .counselingGroup > h5{font-size: 20px;}
    .counselingGroup > p{margin-top: 10px;font-size: 14px;}
    .counselingGroup .call{margin-top: 20px;gap: 10px;}
    .counselingGroup .call > li{width: 100%;padding: 20px 20px 20px 75px;background-position: 25px center;border-radius: 15px;}
    .counselingGroup .call > li b{font-size: 16px;}
    .counselingGroup .call > li p{font-size: 14px;}
    .counselingGroup .call > li > ul{flex-direction: column;gap: 20px;}

    .historyWrap{margin: 0;}
    .historyWrap:before{left: 15px;}
    .historyWrap > dl{padding-left: 40px;box-sizing: border-box;}
    .historyWrap > dl + dl{padding-top: 50px;}
    .historyWrap > dl > dt{margin-bottom: 20px;font-size: 22px;}
    .historyWrap > dl > dd{width: 100%;}
    .historyWrap > dl > dd > div + div{margin-top: 20px;}
    .historyWrap > dl > dd strong{width: 50px;font-size: 20px;}
    .historyWrap > dl > dd strong:before{top: 1px;left: -35px;}
    .historyWrap > dl > dd strong:after{top: 8px;left: -28px;}
    .historyWrap > dl > dd ul{width: calc(100% - 50px);}
    .historyWrap > dl > dd ul > li{font-size: 14px;}
    .historyWrap > dl > dd ul > li + li{margin-top: 15px;}

    .mapList > li{gap: 20px;padding: 20px 0;}
    .mapList .mapArea{width: 100%;}
    .mapList .mapArea .mapSection{height: 250px !important;}
    .mapList .addrArea{width: 100%;}
    .mapList .addrArea strong{font-size: 20px;}
    .mapList .addrArea ul{margin-top: 10px;}
    .mapList .addrArea ul li + li{margin-top: 5px;}
    .mapList .addrArea ul li b{width: 90px;font-size: 16px;}
    .mapList .addrArea ul li p{width: calc(100% - 90px);margin-top: 3px;font-size: 15px;}
    .addrList{margin-top: 20px;}
    .addrList > ul{gap: 10px;}
    .addrList > ul > li{width: 100%;padding: 15px;}
    .addrList .name{font-size: 16px;}
    .addrList .addr{font-size: 14px;}
    .addrList .tel{font-size: 14px;}

    .clientList{gap: 20px 10px;}
    .clientList > li{width: calc(50% - 5px);}
    .clientList > li > p.name{font-size: 16px;}

    .partnerList{gap: 20px 10px;}
    .partnerList > li{width: calc(50% - 5px);}
    .partnerList > li p.name{font-size: 16px;}

    .certificateList{gap: 20px 10px;}
    .certificateList > li{width: calc(50% - 5px);}
    .certificateList > li > p.name{font-size: 16px;}

    .imgModal .modalInner{padding: 20px;align-items: center;flex-direction: column-reverse;}

    .formList .tips{padding: 0 0 10px;font-size: 14px;}
    .formList > ul > li{flex-direction: column;align-items: flex-start;padding: 15px 10px;}
    .formList .title{width: 100%;padding: 0;margin-bottom: 5px;font-size: 14px;}
    .formList .value{display: initial;width: 100%;min-height: auto;font-size: 14px;}
    .formList .value input, .formList .value select{height: 40px;font-size: 14px;}
    .formList .value textarea{font-size: 14px;}
    .inlineBtn > input{width: calc(100% - 90px);}
    .inlineBtn > button, .inlineBtn > a{width: 80px;height: 46px;font-size: 14px;}
    .numberGroup{gap: 0;}
    .numberGroup input, .numberGroup select{width: calc(33.33% - 12px);}
    .numberGroup span{width: 18px;font-size: 14px;}
    .emailGroup{gap: 0;}
    .emailGroup input, .emailGroup select{width: calc(50% - 10px);}
    .emailGroup span{width: 20px;font-size: 14px;}
    .btnGroup{gap: 10px;margin-top: 30px;}
    .btnGroup a, .btnGroup button{width: 100%;height: 50px;font-size: 14px;}

}

@keyframes scale{ 
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}

@-webkit-keyframes scrollBarAni {
    from {-webkit-box-shadow: 0 0 0 0 #F9001C;box-shadow: 0 0 0 0 #F9001C;}
    to {-webkit-box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);}
}
@keyframes scrollBarAni {
    from {-webkit-box-shadow: 0 0 0 0 #F9001C;box-shadow: 0 0 0 0 #F9001C;}
    to {-webkit-box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);}
}