#sub{position: relative;width: 100%;min-height: 700px;overflow: hidden;}
#subVisual{position: relative;display: flex;align-items: center;justify-content: center;height: 500px;box-sizing: border-box;text-align: center;z-index: 50;}
#subVisual .visualbg{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -10;overflow: hidden;} 
#subVisual .visualbg:before{content: "";position: absolute;top: 0;right: 0;bottom: 0;left: 0;width: 100%;height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;transform: scale(1.2);transform-origin: center center;animation: scale 2s 0.5s forwards;}
#subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
#subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
#subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
#subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
#subVisual .visualtext{overflow: hidden;margin-top: 20px;}
#subVisual .visualtext h2{font-size: 40px;color: #FFF;font-weight: 700;line-height: 100%;text-align: center;font-family: 'Paperozi';}

#sub .inner{max-width: 1500px;width: 100%;margin: 0 auto;padding: 0 20px;box-sizing: border-box;}
.snbList{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;max-width: 1460px;width: 100%;margin: 0 auto 100px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.snbList > li{position: relative;width: 220px;}
.snbList > li:nth-child(3):after{content: "";position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 1px;height: 20px;background: #DDD;}
.snbList > li.home{width: 60px;height: 60px;}
.snbList > li.home a{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;background-color: #F9001C;}
.snbList > li > button{position: relative;display: block;width: 100%;height: 60px;padding: 0 40px 0 20px;box-sizing: border-box;font-size: 17px;color: #222;font-weight: 500;line-height: normal;text-align: left;word-break: keep-all;}
.snbList > li > button:after{content: "";position: absolute;top: 50%;right: 24px;transform: translateY(-50%);width: 10px;height: 10px;background-image: url(../images/sub/arrow_down_black.svg);background-size: 100%;background-position: center;background-repeat: no-repeat;transition: all 0.5s;}
.snbList > li > ul{display: none;position: absolute;top: 55px;left: 50%;transform: translateX(-50%);width: 100%;padding: 20px 20px;background: #FFF;border: 1px solid #DDD;border-radius: 5px;box-sizing: border-box;text-align: left;z-index: 50;box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.05);}
.snbList > li > ul > li > a{position: relative;display: block;width: 100%;box-sizing: border-box;font-size: 17px;color: #222;font-weight: 400;line-height: 250%;letter-spacing: -0.6px;transition: all 0.5s;}
.snbList > li > ul > li > a:hover, .snbList > li > ul > li.on > a{color: #F9001C;font-weight: 600;}
.subContent{position: relative;margin-bottom: 100px;box-sizing: border-box;overflow: hidden;}

.titleXl{position: relative;display: inline-block;margin-bottom: 25px;color: #000;font-size: 36px;font-weight: 700;line-height: 150%;letter-spacing: -0.4px;word-break: keep-all;}
.titleXl:before{content: "";position: absolute;right: -10px;bottom: 10px;width: 5px;height: 5px;background: #F9001C;border-radius: 100%;}

.tableboardList{width: 100%;border-top: 2px solid #F9001C;border-spacing: 0;border-collapse: separate;box-sizing: border-box;}
.tableboardList thead tr:last-child > * {border-bottom: 1px solid #DDD;}
.tableboardList th, .tableboardList td {height: 60px;padding: 15px 10px;color: #222;font-size: 16px;text-align: center;line-height: 150%;box-sizing: border-box;}
.tableboardList th {position: relative;background: #f9f9f9;font-weight: 700;letter-spacing: -0.8px;}
.tableboardList td {border-bottom: 1px solid #DDD;font-weight: 400;letter-spacing: -0.2px;}
.tableboardList td.subject{text-align: left;}
.tableboardList td.subject a{-webkit-transition: .3s;transition: .3s;}
.tableboardList td.subject a:hover{color: #000;text-decoration-line: underline;}
.noticeLabel{display: inline-block;padding: 8px 12px;border-radius: 5px;background: #F9001C;box-sizing: border-box;color: #FFF;font-size: 14px;font-weight: 600;line-height: 100%;letter-spacing: -0.2px;text-align: center;vertical-align: middle;}
.paging {margin-top: 100px;text-align: center;font-size: 0;}
.paging a, .paging strong{display: inline-block;width: 40px;height: 40px;line-height: 40px;margin: 0 3px;border-radius: 100%;box-sizing: border-box;color: #111;font-size: 15px;font-weight: 500;vertical-align: middle;text-decoration: none;z-index: 10;}
.paging strong{background: #222;color: #FFF;font-weight: 700;}
.paging #page_prev, .paging #page_next{width: 40px;height: 40px;background-position: center;background-repeat: no-repeat;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.paging #page_prev{background-image: url(../images/sub/arrow_prev.svg);}
.paging #page_next{background-image: url(../images/sub/arrow_next.svg);}

.boardView{border-top: 2px solid #F9001C;box-sizing: border-box;}
.boardViewHeader{padding: 30px;border-bottom: 1px solid #CCC;box-sizing: border-box;text-align: center;}
.boardViewHeader .title{margin-bottom: 10px;}
.boardViewHeader .title .noticeLabel{margin-right: 10px;}
.boardViewHeader .title p{display: inline-block;font-size: 20px;color: #000;font-weight: 500;line-height: 150%;letter-spacing: -0.4px;text-align: center;word-break: keep-all;vertical-align: middle;}
.boardViewHeader .name, .boardViewHeader .date, .boardViewHeader .hits{font-size: 15px;color: #555;font-weight: 400;line-height: normal;letter-spacing: -0.4px;text-align: center;}
.boardViewHeader span + span:before{content: "ㅣ";margin: 0 6px 0 3px;font-size: 14px;color: #DDD;font-weight: 200;line-height: normal;letter-spacing: -0.6px;}
.fileList{display: flex;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.fileList strong{display: flex;justify-content: center;align-items: center;width: 200px;padding: 15px 0;background: #f9f9f9;border-right: 1px solid #DDD;box-sizing: border-box;font-size: 16px;color: #000;font-weight: 600;line-height: 150%;letter-spacing: -0.4px;}
.fileList ul{width: calc(100% - 200px);}
.fileList ul li{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: space-between;width: 100%;padding: 8px 20px;box-sizing: border-box;}
.fileList ul li + li{border-top: 1px solid #DDD;}
.fileList ul li p{font-size: 16px;color: #000;font-weight: 400;line-height: 150%;letter-spacing: -0.4px;word-break: keep-all;}
.fileList ul li a{padding: 8px 20px;border: 1px solid #222;border-radius: 3px;box-sizing: border-box;font-size: 14px;color: #222;font-weight: 700;line-height: 20px;letter-spacing: -0.4px;text-align: center;-webkit-transition: .3s;transition: .3s;}
.fileList ul li a:hover{background: #222;color: #fff;}
.boardViewbody{padding: 80px 50px;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.boardBtnGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: flex-end;margin-top: 50px;}
.boardBtnGroup button, .boardBtnGroup a{display: inline-flex;justify-content: center;align-items: center;padding: 15px 35px;background: #222;border: 1px solid #222;border-radius: 5px;box-sizing: border-box;color: #FFF;box-sizing: border-box;font-size: 16px;font-weight: 600;line-height: normal;letter-spacing: -0.4px;transition: .3s;-webkit-transition: .3s;}
.boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 10px;}
.boardBtnGroup button:hover, .boardBtnGroup a:hover{background: #000;border: 1px solid #000;color: #fff;}
.boardViewNav{margin-top: 50px;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.boardViewNav li{display: flex;align-items: center;justify-content: flex-start;flex-direction: row;flex-wrap: nowrap;}
.boardViewNav li + li{border-top: 1px solid #DDD;}
.boardViewNav li p{display: flex;align-items: center;justify-content: center;width: 100px;color: #222;font-size: 16px;font-weight: 600;line-height: 60px;vertical-align: middle;letter-spacing: -1px;}
.boardViewNav li a{position: relative;width: calc(100% - 100px);padding-left: 12px;box-sizing: border-box;color: #444;font-size: 16px;font-weight: 400;line-height: 60px;letter-spacing: -0.6px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;vertical-align: middle;}
.boardViewNav li a:hover{color: #000;text-decoration: underline;}

.servicesList {border-top: 2px solid #000;}
.servicesList > li{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;gap: 50px;padding: 50px 0;border-bottom: 1px solid #DDD;box-sizing: border-box;}
.servicesList .img{position: relative;width: 600px;width: 41.5%;}
.servicesList .servicesSwiper .swiper-slide img{width: 100%;vertical-align: bottom;}
.servicesList .servicesSwiper + .pagination{position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);z-index: 1;line-height: 10px;}
.servicesList .swiper-pagination-bullet{width: 10px;height: 10px;margin: 0 5px;background: #999;opacity: 1;}
.servicesList .swiper-pagination-bullet-active{background: #F9001C;}
.servicesList .text{width: 810px;width: calc(58.5% - 50px);}
.servicesList .text .num{color: #F9001C;font-size: 20px;font-weight: 700;line-height: 100%;}
.servicesList .text .titLg{margin-top: 15px;color: #000;font-size: 28px;font-weight: 700;line-height: 100%;word-break: keep-all;}
.servicesList .text .titMd{margin-top: 30px; color: #222;font-size: 22px;font-weight: 600;line-height: 100%;word-break: keep-all;}
.servicesList .text .txt{margin-top: 15px;color: #222;font-size: 20px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.servicesList .text .titMd + .txt{margin-top: 10px;}

.itemList{margin-top: 100px;border-top: 2px solid #F9001C;box-sizing: border-box;}
.itemList > li{display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;justify-content: flex-start;margin: 50px 0;padding-bottom: 50px;border-bottom: 1px dashed #AAA;box-sizing: border-box;}
.itemList > li:last-child{margin-bottom: 0;}
.itemList > li > .title{width: 310px;color: #111;font-size: 30px;font-weight: 700;line-height: 150%;letter-spacing: -0.2px;}
.itemList > li > .text{width: calc(100% - 310px);}

.greetingGroup{display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;gap: 50px;}
.greetingGroup > .img{width: calc(43% - 25px);}
.greetingGroup > .img img{width: 100%;vertical-align: bottom;}
.greetingGroup > .text{width: calc(57% - 25px);display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-start;gap: 40px;}
.greetingGroup > .text strong{color: #222;font-size: 24px;font-weight: 600;line-height: 150%;letter-spacing: 0.5px;font-family: 'Paperozi';word-break: keep-all;}
.greetingGroup > .text p{color: #555;font-size: 18px;font-weight: 400;line-height: 160%;letter-spacing: -0.2px;word-break: keep-all;}
.greetingGroup > .text p.sign{display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-start;color: #222;font-size: 18px;font-weight: 600;line-height: 150%;letter-spacing: -0.2px;}
.greetingGroup > .text p.sign b{margin: 0 10px;font-size: 24px;}
.greetingGroup > .text p.sign i.en img{vertical-align: bottom;}

.managementBg{width: 100%;padding: 133px 0;background: url(../images/sub/bg_management.jpg) no-repeat center center fixed;background-size: cover;box-sizing: border-box;text-align: center;}
.managementBg strong{display: block;color: #FFF;font-size: 34px;font-weight: 700;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.managementBg span{display: block;margin-top: 5px;color: #FFF;font-size: 20px;font-weight: 400;line-height: 150%;word-break: keep-all;}
.managementBg p{margin-top: 30px;color: #FFF;font-size: 28px;font-weight: 600;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}

.managementBox{padding: 60px 50px;background: #FAFAFA;box-sizing: border-box;}
.managementBox > ul > li{    display: flex;padding-bottom: 20px;margin-bottom: 20px;border-bottom: 1px solid #D9D9D9;box-sizing: border-box;color: #222;font-size: 21px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.managementBox > ul > li span{margin-right: 20px;font-weight: 700;}
.managementBox > ul > li p{display: inline-block;}
.managementBox > p{margin-top: 30px;margin-bottom: 30px;color: #222;font-size: 24px;font-weight: 500;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}

.counselingGroup{padding: 100px 60px;background-image: url(../images/sub/bg_counseling.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;box-sizing: border-box;}
.counselingGroup > h5{color: #FFF;font-size: 36px;font-weight: 700;line-height: 130%;word-break: keep-all;}
.counselingGroup > p{margin-top: 30px;color: #FFF;font-size: 20px;font-weight: 400;line-height: 150%;letter-spacing: -0.2px;word-break: keep-all;}
.counselingGroup .call{margin-top: 45px;display: flex;flex-direction: row;flex-wrap: wrap;gap: 30px;}
.counselingGroup .call li{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: flex-start;justify-content: center;width: 420px;height: 120px;padding: 25px 40px 25px 120px;background-image: url(../images/sub/icon_call.svg);background-position: 40px center;background-repeat: no-repeat;border-radius: 20px;background-color: rgba(255, 255, 255, 0.20);backdrop-filter: blur(7.5px);box-sizing: border-box;}
.counselingGroup .call li b{color: #FFF;font-size: 20px;font-weight: 700;line-height: 150%;}
.counselingGroup .call li p{margin-top: 5px;color: #FFF;font-size: 18px;font-weight: 500;line-height: 150%;}

@media screen and (max-width: 1399px){

    #subVisual{height: 400px;}

}

@media screen and (max-width: 1199px){

    .dotList li{font-size: 16px;}
    .dotList li:before{top: 10px;}

    .paging{margin-top: 80px;}

    .servicesList > li{gap: 30px;padding: 30px 0;}
    .servicesList .servicesSwiper + .pagination{bottom: 25px;}
    .servicesList .swiper-pagination-bullet{margin: 0 4px;}
    .servicesList .text{width: 810px;width: calc(58.5% - 30px);}
    .servicesList .text .num{font-size: 18px;}
    .servicesList .text .titLg{margin-top: 10px;font-size: 24px;}
    .servicesList .text .titMd{margin-top: 20px;font-size: 20px;}
    .servicesList .text .txt{margin-top: 10px;font-size: 18px;}

    .itemList{margin-top: 50px;}
    .itemList > li{margin: 30px 0;padding-bottom: 30px;}
    .itemList > li > .title{width: 260px;font-size: 24px;}
    .itemList > li > .text{width: calc(100% - 260px);}

    .managementBg{padding: 100px 0;}
    .managementBg strong{font-size: 30px;}
    .managementBg span{font-size: 18px;}
    .managementBg p{margin-top: 15px;font-size: 22px;}

    .managementBox{padding: 40px;}
    .managementBox > p{font-size: 20px;}
    .managementBox > ul > li{padding-bottom: 15px;margin-bottom: 15px;font-size: 18px;}
    .managementBox > ul > li span{margin-right: 10px;}

    .counselingGroup{padding: 70px 40px;}
    .counselingGroup > h5{font-size: 30px;}
    .counselingGroup > p{margin-top: 20px;font-size: 16px;}
    .counselingGroup .call{margin-top: 30px;gap: 20px;}
    .counselingGroup .call li{width: calc(50% - 10px);height: auto;padding: 25px 20px 25px 80px;background-position: 30px center;background-size: 30px;}
    .counselingGroup .call li b{font-size: 18px;}
    .counselingGroup .call li p{margin-top: 0;font-size: 16px;}

}
@media screen and (max-width: 767px){

    #subVisual{height: 280px;}
    #subVisual .visualbg.bg01:before{background-image: url(../images/sub/bg_subVisual01.jpg);}
    #subVisual .visualbg.bg02:before{background-image: url(../images/sub/bg_subVisual02.jpg);}
    #subVisual .visualbg.bg03:before{background-image: url(../images/sub/bg_subVisual03.jpg);}
    #subVisual .visualbg.bg04:before{background-image: url(../images/sub/bg_subVisual04.jpg);}
    #subVisual .visualtext h2{font-size: 30px;}

    .snbList{margin-bottom: 50px;}
    .snbList > li{width: calc(50% - 25px);}
    .snbList > li:after{height: 26px;}
    .snbList > li.home{width: 50px;height: 50px;}
    .snbList > li > button{height: 50px;padding: 0 20px 0 10px;font-size: 14px;}
    .snbList > li > button:after{right: 10px;}
    .snbList > li > ul{top: 45px;padding: 10px;}
    .snbList > li > ul > li > a{font-size: 14px;line-height: 200%;}
    .subContent{margin-bottom: 70px;}

    .titleXl{margin-bottom: 15px;font-size: 24px;}
    .titleXl:before{width: 6px;height: 6px;}

    .tableboardList colgroup,
    .tableboardList thead{display: none;}
    .tableboardList .mNone{display: none;}
    .tableboardList tr{position: relative;display: block;padding: 15px 0;border-bottom: 1px solid #DDD;box-sizing: border-box;}
    .tableboardList td{display: inline-block;height: auto;padding: 0;border-bottom: 0;font-size: 14px;vertical-align: middle;}
    .tableboardList td.subject{display: block;}
    .tableboardList td.mInline{line-height: 1;}
    .tableboardList td.mInline + td.mInline{border-left: 1px solid #DDD;margin-left: 8px;padding-left: 10px;}
    .paging{margin-top: 50px;}
    .paging a, .paging strong{width: 36px;height: 36px;line-height: 36px;margin: 0 2px;font-size: 14px;}
    .paging #page_prev, .paging #page_next{width: 36px;height: 36px;}

    .boardViewHeader{padding: 20px 0;}
    .boardViewHeader .title{margin-bottom: 5px;}
    .boardViewHeader .title .noticeLabel{margin-right: 0;margin-bottom: 5px;}
    .boardViewHeader .title p{display: block;font-size: 18px;}
    .boardViewHeader .name, .boardViewHeader .date, .boardViewHeader .hits{font-size: 14px;}
    .boardViewHeader span + span:before{margin: 0 3px 0 0;}
    .fileList strong{display: none;}
    .fileList ul{width: 100%;}
    .fileList ul li{gap: 5px;padding: 10px;}
    .fileList ul li + li{border-top: 1px solid #DDD;}
    .fileList ul li p{font-size: 14px;}
    .fileList ul li a{padding: 3px 10px;font-size: 12px;}
    .boardViewbody{padding: 30px 0;}
    .boardBtnGroup{margin-top: 20px;}
    .boardBtnGroup button, .boardBtnGroup a{padding: 12px 25px;font-size: 14px;}
    .boardBtnGroup button + button, .boardBtnGroup a + a{margin-left: 5px;}
    .boardViewNav{margin-top: 20px;}
    .boardViewNav li p{width: 80px;font-size: 14px;line-height: 50px;}
    .boardViewNav li a{width: calc(100% - 90px);padding-left: 10px;font-size: 14px;line-height: 50px;}

    .servicesList > li{gap: 20px;padding: 20px 0;}
    .servicesList .img{width: 100%;}
    .servicesList .servicesSwiper + .pagination{bottom: 20px;}
    .servicesList .swiper-pagination-bullet{width: 8px;height: 8px;margin: 0 4px;}
    .servicesList .text{width: 100%;}
    .servicesList .text .num{font-size: 16px;}
    .servicesList .text .titLg{font-size: 20px;}
    .servicesList .text .titMd{font-size: 18px;}
    .servicesList .text .txt{font-size: 16px;}

    .greetingGroup{gap: 20px;}
    .greetingGroup > .img{width: 100%;}
    .greetingGroup > .text{width: 100%;gap: 20px;}
    .greetingGroup > .text strong{font-size: 20px;}
    .greetingGroup > .text p{font-size: 16px;}
    .greetingGroup > .text p.sign{font-size: 16px;}
    .greetingGroup > .text p.sign b{margin: 0 10px;font-size: 20px;}
    .greetingGroup > .text p.sign i.en{width: 97px;}

    .itemList{margin-top: 30px;}
    .itemList > li{margin: 20px 0;padding-bottom: 20px;}
    .itemList > li > .title{width: 100%;font-size: 20px;}
    .itemList > li > .text{width: 100%;margin-top: 20px;}

    .managementBg{padding: 70px 20px;}
    .managementBg strong{font-size: 18px;}
    .managementBg span{font-size: 13px;}
    .managementBg p{margin-top: 10px;font-size: 16px;}
    
    .managementBox{padding: 20px;}
    .managementBox > ul > li{padding-bottom: 10px;margin-bottom: 10px;font-size: 15px;}
    .managementBox > p{margin-top: 15px;margin-bottom: 15px;font-size: 16px;}

    .counselingGroup{padding: 30px;background-image: url(../images/sub/bg_counseling_m.jpg);}
    .counselingGroup > h5{font-size: 20px;}
    .counselingGroup > p{margin-top: 10px;font-size: 14px;}
    .counselingGroup .call{margin-top: 20px;gap: 10px;}
    .counselingGroup .call li{width: 100%;padding: 20px 20px 20px 75px;background-position: 25px center;border-radius: 15px;}
    .counselingGroup .call li b{font-size: 16px;}
    .counselingGroup .call li p{font-size: 14px;}
}

@keyframes scale{ 
	0% {transform: scale(1.2);}
	100% {transform: scale(1);}
}

@-webkit-keyframes scrollBarAni {
    from {-webkit-box-shadow: 0 0 0 0 #F9001C;box-shadow: 0 0 0 0 #F9001C;}
    to {-webkit-box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);}
}
@keyframes scrollBarAni {
    from {-webkit-box-shadow: 0 0 0 0 #F9001C;box-shadow: 0 0 0 0 #F9001C;}
    to {-webkit-box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);box-shadow: 0 0 0 15px rgba(37, 72, 227, 0);}
}